*.tmproj
*.fla
*.cache
.bundle
.DS_Store
.idea
.project
/log/*
/tmp/*
/tmp/pids/*
log/*.log
tmp/*
public/uploads/tmp/*
config/database.yml
*.swp
*.swo
*.swm
*.swn
*.swk
*.swl
*.swj
*.swi
*.dropbox
*~
.#*
\#*
