<div class="splash_bg">
  <a href="mailto:j@tapes.fm?subject=Hey J from tapes.fm" target="_blank">
  <div class="logo_bg"> </div>
  </a>
  <a href="http://twitter.com/tapesfm" target="_blank">
  <div class="twitter"> </div>
  </a>

</div>
