
<div id="beta_form"> 
  
  <div id="beta_box" class="container_12"> 
    <div class="field_box" > 
      <form>
        <p>
        <label for="email">Your email adress</label>
        <input type="text" name="email" id="email" >
        </p>
        <p>
        <label for="url">URL (optional)</label>
        <input type="text" name="url" id="url" >
        </p>
        <input type="submit" value="Request">



      </form>
    </div>
    <div id="beta_logo" > </div>

  </div>

</div>

<div id="container" class="container_12 home"> 
  <div class="home_left s1"> </div> 
  <div class="home_right s4"> </div> 
  <div class="home_bottom">
  <div id="nav_back"> </div>
    <div class="col tapes" id="col1"> 
      <div class="col_content"> 
        <div class="image"></div>
        <h3>Tapes</h3>
        <p>Tapes contain everything from a single sample to a Multitrack composition. tapes.fm makes it easy to collect & share your Ideas.</p> 
      </div> 
    </div> 

    <div class="col collaborate" id="col2"> 
      <div class="col_content"> 
        <div class="image"></div>
        <h3>Collaborate</h3>
        <p>Just Invite your Friends and make music music together.  Leave comments on Tracks and Tape Versions always let your keep track of your progress.</p> 
      </div> 
    </div> 
    <div class="col  explore" id="col3"> 
      <div class="col_content"> 
        <div class="image"></div>
        <h3>Explore & Remix</h3>
        <p>Get Inspired and find new Tunes and musicians. And if you like Remix new Idears.</p> 
      </div> 
    </div> 
    <div class="col last more" id="col4"> 
      <div class="col_content"> 
        <div class="image"></div>
        <h3>Learn More</h3>
        <p>Follow other artist and  see on your dashboard whats new. Build your own Profile and showcase your work.</p> 
      </div> 
    </div> 


    <div class="home_screen_box">
      <div class="splitter" >
      </div> 

      <div class="home_screen" id="screen1">
        <img src="/assets/home/screen_tapes.png"></img> 
      </div> 

      <div class="home_screen" id="screen2">
        <img src="/assets/home/screen_tapedeck.png"></img> 
      </div> 
      <div class="home_screen" id="screen3">
        <img src="/assets/home/screen_tapes.png"></img> 
      </div> 
      <div class="home_screen" id="screen4">
        <img src="/assets/home/screen_tapedeck.png"></img> 
      </div> 
    </div> 
  </div> 
  <div class="home_top">
    
    <div class="home_header">
      <div class="right_header">
        <div class="beta_button">
          <span class="normal">Join</span> Beta
        </div>
        <div class="login"> Login </div>

      </div>
      
    </div>
    <h1>Make music together –</h1>
    <h2>tapes.fm is a <span class="hightlight">simple</span> way to <span class="hightlight">collect</span>, <span class="hightlight">share</span> & <span class="hightlight">collaborate</span> on your <span class="hightlight">musical ideas</span>.</h2>

  </div> 
</div>

<div id="overlay"></div>

