@mixin c_bg {
  background-color: #eceded;
}

// Grey Shades
@mixin c_g_0 {
  color: rgba(55,55,55,0.95);
}
@mixin c_g_0_b {
  background-color: rgba(55,55,55,0.95);
}

@mixin c_g_1 {
  color: #666666;
}
@mixin c_g_2 {
  color: #bababa;
}
@mixin c_g_3 {
  color: #828383;
}
@mixin c_g_4 {
  color: #747575;
}
@mixin c_g_5 {
  color: #e0e1e1;
}

$c_g_1: #666666;

@mixin c_g_1_b {
  background-color: #666666;
}
@mixin c_g_2_b {
  background-color: #bababa;
}
@mixin c_g_3_b {
  background-color: #828383;
}
@mixin c_g_4_b {
  background-color: #747575;
}
@mixin c_g_5_b {
  background-color: #e0e1e1;
}

// Red
$c1: #ff7357;
$c1b: #cc5c46;
$c1c: #b64943;

@mixin c_1 {
  color: #ff7357;
}
@mixin c_1b {
  color: #cc5c46;
}
@mixin c_1c {
  color: #e5674e;
} 

@mixin c_1_b {
  background-color: #ff7357;
}
@mixin c_1b_b {
  background-color: #cc5c46;
}
@mixin c_1c_b {
  background-color: #e5674e;
}
// Yellow
$c2: #e6e15f;
$c2b: #9f9c55;
$c2c: #aca957;

@mixin c_2 {
  color: #e6e15f;
}
@mixin c_2b {
  color: #9f9c55;
}
@mixin c_2c {
  color: #aca957;
}

@mixin c_2_b {
  background-color: #e6e15f;
}
@mixin c_2b_b {
  background-color: #9f9c55;
}
@mixin c_2c_b {
  background-color: #aca957;
}
// Green
$c3: #59d8ad;
$c3b: #539e84;
$c3c: #56bb99;


@mixin c_3 {
  color: #59d8ad;
}
@mixin c_3b {
  color: #539e84;
}
@mixin c_3c {
  color: #56bb99;
}

@mixin c_3_b {
  background-color: #59d8ad;
}
@mixin c_3b_b {
  background-color: #539e84;
}
@mixin c_3c_b {
  background-color: #56bb99;
}

// Blue
$c4: #36bddd;
$c4b: #3e8fa2;
$c4c: #3aa6bf;


@mixin c_4 {
  color: #36bddd;
}
@mixin c_4b {
  color: #3e8fa2;
}
@mixin c_4c {
  color: #3aa6bf;
}

@mixin c_4_b {
  background-color: #36bddd;
}
@mixin c_4b_b {
  background-color: #3e8fa2;
}
@mixin c_4c_b {
  background-color: #3aa6bf;
}


// Blue

$c5: #e96d8e;
$c5b: #a95f72;
$c5c: #c96680;

@mixin c_5 {
  color: #e96d8e;
}
@mixin c_5b {
  color: #a95f72;
}
@mixin c_5c {
  color: #c96680;
}

@mixin c_5_b {
  background-color: #e96d8e;
}
@mixin c_5b_b {
  background-color: #a95f72;
}
@mixin c_5c_b {
  background-color: #c96680;
}

// Blue

$c6: #ffc257;
$c6b: #b69251;
$c6c: #dbaa54;

@mixin c_6 {
  color: #ffc257;
}
@mixin c_6b {
  color: #b69251;
}
@mixin c_6c {
  color: #dbaa54;
}

@mixin c_6_b {
  background-color: #ffc257;
}
@mixin c_6b_b {
  background-color: #b69251;
}
@mixin c_6c_b {
  background-color: #dbaa54;
}


// Blue

$c7: #d5c4ab;
$c7b: #9d9384;
$c7c: #b9ab97;

@mixin c_7 {
  color: #d5c4ab;
}
@mixin c_7b {
  color: #9d9384;
}
@mixin c_7c {
  color: #b9ab97;
}

@mixin c_7_b {
  background-color: #d5c4ab;
}
@mixin c_7b_b {
  background-color: #9d9384;
}
@mixin c_7c_b {
  background-color: #b9ab97;
}

// Blue

$c8: #539994;
$c8b: #4f7976;
$c8c: #518985;

@mixin c_8 {
  color: #539994;
}
@mixin c_8b {
  color: #4f7976;
}
@mixin c_8c {
  color: #518985;
}

@mixin c_8_b {
  background-color: #539994;
}
@mixin c_8b_b {
  background-color: #4f7976;
}
@mixin c_8c_b {
  background-color: #518985;
}
