@import "tools/colors";
@import "tools/fonts";
@import "tools/effects";




.admin_user_box {
  
  margin-top: 20px;
  width: 300px;
  margin-right: 20px;
  // background: #FF00FF;
  float: left;

  .header {
      display: inline-block;
      @include c_g_4;
      @include fh_b(18px);
      margin-bottom: 6px;
      padding-top: 5px;
      padding-left: 10px;
      line-height: 30px;
      height: 30px;
      .count {
        @include c_g_5;
        @include fh(18px);
        padding: 0px 5px;
      
      }
  
  }
  .list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    .user_box {
      margin: 0px;
      height: 70px;
      background: $c_g_5;
      margin-top: 5px;
      @include round(5px);
      
      // @include round(5px);
     

      .icon {
        width: 50px;
        height: 50px;
        position: absolute;
        margin: 10px;
        @include round(3px);
        background: url("/assets/dashboard/activity_image.png") no-repeat center center;
        background-color: rgba(0,0,0,0.1);
        img {
          @include round(3px);
        }
      }
      #invite_btn {
        width: 25px;
        height: 25px;
        background: rgba(0,0,0,0.1);
        position: absolute;
        margin: 10px;
        margin-left: 265px;
        @include round(3px);
        cursor: pointer;

      }
      #invite_btn:hover {
        background: $c3;

      }


      .headline_box.last {
        margin-left: 15px;
      }
      .headline_box:hover {
        overflow: visible;
        height: auto;
        width: auto;
        position: absolute;
        z-index: 5000;
        .line {
          white-space: wrap;
          color: $c1;
        }
      }

      .headline_box {
        float: left;
        overflow: hidden;
        margin-left: 80px;
        padding-top: 15px;
        @include fh_b(12px);
        width: 150px;
        height: 40px;
        display: inline-block;
        background: $c_g_5;
        .line {
          height: 22px;
          line-height: 22px;
          white-space:nowrap;
          color: $c_g_4;
        }

      
      }
    
      

    }
  }


}


