
@import "tools/colors";
@import "tools/fonts";
@import "tools/effects";



.setting-popin {
	position: fixed;
  // @include c_g_0_b;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 50%;
	left: 50%;
	z-index: 12000;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .2);
  @include round(5px);

  background: $c_g_5;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);

  width: 400px;
  min-height: 220px;
  margin-left: -175px;
  margin-top: -225px; 
  z-index: 1002;

	-webkit-transition: 0.2s all ease-out;
	-moz-transition: 0.2s all ease-out;
	-ms-transition: 0.2s all ease-out;
	-o-transition: 0.2s all ease-out;
	transition: 0.2s all ease-out;

}

.setting-popin.active {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}



.popin-overlay {
	// background: #f6f6f6;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: 0.2s all ease-out;
	-moz-transition: 0.2s all ease-out;
	-ms-transition: 0.2s all ease-out;
	-o-transition: 0.2s all ease-out;
	transition: 0.2s all ease-out;


}

.popin-overlay.active {
	visibility: visible;
	opacity: .5;
	filter: alpha(opacity=60);
}

body.avgrund-ready, 
.avgrund-ready .avgrund-popin, 
.avgrund-ready .avgrund-overlay {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out
}

body.avgrund-active {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
 /* overflow: hidden;  TIP: disables scrolling for long documents */
}



.avgrund-active .avgrund-overlay {
	visibility: visible;
	opacity: .5;
	filter: alpha(opacity=50);
}

.avgrund-popin.stack {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.avgrund-active .avgrund-popin.stack {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.avgrund-active .avgrund-blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
}

