// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "tools/colors";
@import "tools/fonts";
@import "tools/effects";
.tape_comments_box {
  z-index: 11000;

  padding: 0px;
  margin: 0px;
  @include fh(12px);

  padding: 10px;
  line-height: 15px;
  padding-bottom: 0px;
  padding-top: 0px;

  color: white;
  list-style-type: none;
  .comment_set:last-child {
  
    border-bottom-style: none;
  }

  .comment_set:hover {
    .date {
      opacity: 1;
    }
    .user_name {
      opacity: 1;
    }
  }
  .comment_set {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-color: rgba(0,0,0,0.05);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    .comment_body {
      @include fh(12px);
      margin-top: 10px; 
      @include c_g_5;
      line-height: 17px;
      
    
    }
    .date {
      opacity: 0.5;
      @include fh(11px);
      @include round(2px);
      margin-top: 10px; 
      @include c_g_2;
      line-height: 17px;
      margin-left: 7px;
      
    
    }
    .user_name {
      opacity: 0.5;
      @include c_g_4_b;
      @include fh_b(12px);
      padding: 3px 5px;
      @include round(5px);
      margin-left: -5px;
      line-height: 30px;
      color: $c_g_2
            
    
    }


  }

  

}


      .tape_comments_set {
      
        margin-left: 150px;
        height: 25px;
 
      
      }

      #tape_comments_g:hover {
      
        .strip_tape {
          #marker{ 
            display: inline;
          }

        }
      }


      #tape_comments_g {

        position: absolute;
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        background: url("/assets/tapedeck/bottom_shadow.png") no-repeat center top;
        
        width: 775px;
        
        //background-color: rgba(0,0,0,0);

          .comment_field_tape {
              background: #FF00FF;
            
            }


        .comment{
          background-color: rgba(0,0,0,0.1);
          height: 25px;
          width: 25px;
          position: absolute;
          //min-height: 50px;
          //@include round(40px);

          .comments_box {
            z-index: 11000;
          
            padding: 0px;
            margin: 0px;
            @include fh(12px);

            padding: 10px;
            line-height: 15px;
            padding-bottom: 0px;
            padding-top: 0px;

            color: white;
            list-style-type: none;
            .comment_set:last-child {
            
              border-bottom-style: none;
            }

            .comment_set:hover {
              .date {
                opacity: 1;
              }
              .user_name {
                opacity: 1;
              }
            }
            .comment_set {
              padding: 0px;
              margin: 0px;
              margin-bottom: 0px;
              padding-bottom: 5px;
              padding-top: 5px;
              padding-left: 5px;
              border-color: rgba(0,0,0,0.05);
              border-bottom-width: 1px;
              border-bottom-style: solid;
              .comment_body {
                @include fh(12px);
                margin-top: 10px; 
                @include c_g_5;
                line-height: 17px;
                
              
              }
              .date {
                opacity: 0.5;
                @include fh(11px);
                @include round(2px);
                margin-top: 10px; 
                @include c_g_2;
                line-height: 17px;
                margin-left: 7px;
                
              
              }
              .user_name {
                opacity: 0.5;
                @include c_g_4_b;
                @include fh_b(12px);
                padding: 3px 5px;
                @include round(5px);
                margin-left: -5px;
                line-height: 30px;
                color: $c_g_2
                      
              
              }


            }

            

          }

        
        }
      .comment_strip_tape {
        list-style-type: none; 
        padding: 0px;
        margin: 0px;
        width: 775px;
        height: 25px;
      }
      .strip_tape {
        list-style-type: none; 
        padding: 0px;
        margin: 0px;
        width: 775px;
        height: 25px;
        position: absolute;

        #marker{
          display: none;
          height: 25px;
          width: 25px;
          position: absolute;
          background: url("/assets/tapedeck/add_comment_btn.png");
          //@include round(40px);
        
        }        
      }




      .comment {
      
        .commentbox2_tape {
          display: none;
          margin-top: -60px;
          margin-left: -98px;
        }
      }
      .comment:hover {
      
        .commentbox2_tape {
          display: inline;
        }
      }
      

        //float: left; 
      }
      
     .commentbox_tape {
      
      //display: inline;
      margin-left: -110px;
      position: absolute;
      z-index: 18000;

        .body {
          position: absolute;
          width: 218px;
          min-height: 10px;
          bottom: 10px;
          @include round(3px);
          @include c_g_1_b;
          z-index: 8000;

          #comment_box_tape {
          
            .comment_field_tape:focus {
                background-color: white;
            }
            .comment_field_tape {
                width: 125px;
                border-color: #e9e9e9;
                border-style: solid;
                border-width: 1px;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_5_b;
                background-color: $c_g_5;
                @include c_g_1;
                padding: 10px 10px;
                height: 12px;
                margin-left: 5px;
                margin-bottom: 5px;
                margin-top: 5px;
                padding-right: 70px;

              
              }
              .comment_label_tape {
                width: 180px;
                border: none;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_2;
                padding: 10px 10px; 
                padding-left: 15px;
                padding-top: 16px;
              
              }          

              .send_track_button {
                  @include c_g_1_b;
                  color: white;
                  padding: 8px 12px;
                  display: inline-block;
                  @include round(3px);
                  @include fh_b(12px);
                  position: absolute;
                  margin-left: 160px; 
                  margin-top: 7px;
                  z-index: 6000;
                  cursor: pointer;
                  @include btn($c_g_2);
              }


          }
        
        
        }
        .snip {
          position: absolute;
          background: url("/assets/tapedeck/arrow_down.png") no-repeat center center;
          width: 220px;
          height: 10px;
          bottom: 0px;
        
        }
      }

      .commentbox2_tape {
      
      //display: inline;
      margin-left: -110px;
      position: absolute;
      z-index: 18000;

        .body {
          position: absolute;
          width: 218px;
          min-height: 10px;
          bottom: -50px;
          @include round(3px);
          @include c_g_1_b;
          z-index: 8000;

          #comment_box_tape {
            .comment_field_tape:focus {
                background-color: white;
                border-style: solid;
            }          
            .comment_field_tape {
                width: 125px;
                border-color: rgba(0,0,0,0.05);
                border-style: solid;
                border-width: 1px;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_5_b;
                background-color: rgba(0,0,0,0.1);
                @include c_g_1;
                padding: 10px 10px;
                height: 12px;
                margin-left: 5px;
                margin-bottom: 5px;
                margin-top: 5px;
                padding-right: 70px;

              
              }
              .comment_label_tape {
                width: 180px;
                border: none;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_2;
                padding: 10px 10px; 
                padding-left: 15px;
                padding-top: 16px;
              
              }          

              .send_track_button {
                  @include c_g_1_b;
                  color: white;
                  padding: 8px 12px;
                  display: inline-block;
                  @include round(3px);
                  @include fh_b(12px);
                  position: absolute;
                  margin-left: 160px; 
                  margin-top: 7px;
                  z-index: 6000;
                  cursor: pointer;
                  @include btn($c_g_2);
              }


          }
        
        
        }
        .snip {
          position: absolute;
          background: url("/assets/tapedeck/arrow_down.png") no-repeat center center;
          width: 220px;
          height: 10px;
          bottom: -60px;
        
        }
      }


#tapedeck_lower {
  width: 960px;
  background: url("/assets/tapedeck/bottom_shadow.png") no-repeat top center;
  min-height: 100px;
 
  #tapedeck_comments {
    width: 620px;
    padding: 10px;

    display: inline-block;
    float: left;


  }

  #tapedeck_comments {
    width: 640px;
    padding: 25px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: inline-block;
    float: left;
    min-height: 100px;
    background: url("/assets/tapedeck/comments_bg.png") no-repeat top right;





    #tapedeck_comments_add {
      .pic {
          width: 50px;
          height: 50px;
          @include c_g_5_b;
          margin-right: 20px;
          position: absolute;
          
        }
      #send_button:hover {

          @include c_3_b;
          @include c_g_1;
          @include btn($c3c);

        
      }
      #send_button {
          @include c_g_1_b;
          color: white;
          margin-right: 20px;
          padding: 8px 12px;
          display: inline-block;
          @include round(3px);
          @include fh_b(12px);
          position: absolute;
          margin-left: 570px; 
          margin-top: 7px;
          z-index: 6000;
          cursor: pointer;
          @include btn($c_g_2);
      }
      #comment_label {
        width: 540px;
        margin-left: 65px;
        border: none;
        outline: none;
        @include fh_b(12px);
        @include round(5px);
        @include c_g_2;
        padding: 11px 10px; 
        padding-top: 16px;
      
      }
      #comment_field {
        width: 470px;
        margin-left: 65px;
        border-color: #e9e9e9;
        border-style: solid;
        border-width: 1px;
        outline: none;
        @include fh_b(12px);
        @include round(5px);
        @include c_g_5_b;
        background-color: #FFF;
        @include c_g_1;
        padding: 10px 10px;
        padding-top: 12px;
        padding-bottom: 0px;
        padding-right: 80px;
        height: 24px;

      
      }

      #comment_field:focus {
        //height: 60px;

      
      }    
    }
    .comments {
    
      clear: both;
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      margin-top: 20px;
      .comment:hover {

        .delete:hover {
          @include c_g_5_b;
          @include round(5px);
        }
        .delete {
        
          //display: inline-block;
          opacity: 1;
        }
        //background: #FFF;
      
      }

      .comment {
        
        padding: 0px;
        margin: 0px;
        clear: both;
        margin-bottom: 20px;
        padding-bottom: 15px;
        min-height: 50px;
        border-color: $c_g_5;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        .pic {
          width: 50px;
          height: 50px;
          @include c_g_5_b;
          margin-right: 20px;
          display: inline-block;
          float: left;
          
        }
        .user_name {
          @include c_g_5_b;
          @include fh_b(12px);
          padding: 3px 5px;
          @include round(5px);
          margin-left: -4px;
          @include c_g_1; 
        
        }


        .tape_name {
          @include c_g_5_b;
          @include fh_b(12px);
          padding: 3px 5px;
          @include round(5px);
          margin-left: 0px;

          
        
        }
        .tape_time {
          @include c_g_5_b;
          @include fh_b(12px);
          padding: 3px 5px;
          @include round(5px);
          margin-left: 0px;

          
        
        }
        .normal {
          @include fh(12px);
          padding: 3px 4px;
          @include round(2px);
          margin-left: 0px;

          
        
        }        
        .text {
          @include fh(12px);
          //padding: 2px 4px;
          @include round(2px);

          line-height: 18px;
          
        
        }
        .body {
          //padding-top: 20px;
          display: inline-block;
          @include fh(12px);

          width: 500px;
          @include c_g_4;
          //display: inline-block;
          
        }      
        .delete {
          width: 30px;
          height: 30px;
          //background: #FF00FF;
          position: absolute;
          margin-left: 585px;
          margin-top: 0px;
          background: url("/assets/track/remove_icon.png") no-repeat center center;
          opacity: 0.2;
          cursor: pointer;
        }
        .date {
          @include fh(11px);
          @include round(2px);
          margin-top: 10px; 
          @include c_g_2;
          line-height: 17px;
          
        
        }

      }
    }
    #tapedeck_comments_header {
      padding: 0px;
      margin: 0px;
      @include c_g_4;
      @include fh_b(12px);
      height: 45px;
      border-color: $c_g_5;
      // border-bottom-width: 1px;
      // border-bottom-style: solid;
      @include ts_out(#FFF);
      width: 615px;

      h3 {
        line-height: 35px;
        display: inline-block;
        float: left; 
      }

    }

    #invite_button {
      width: 35px;
      height: 35px;
      background: #FF00FF;
      position: absolute;
      margin-top: 15px;
      margin-left: 580px;
      @include c_g_5_b;
      @include round(5px);
    }


  }




}
