// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tape_comments {

  height: 25px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background: url("/assets/tapedeck/bottom_shadow.png");

}
#tape_spacer {

  height: 40px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background: url("/assets/tapedeck/bottom_shadow.png");

}
