@import "tools/colors";
@import "tools/fonts";
@import "tools/effects";
  a {
  
  text-decoration: none;
  }
.more_tapes:hover {
  
  background: rgba(0,0,0,0.05);
  color: $c1;

}
.more_tapes {
  background: rgba(0,0,0,0.02);
  @include fh_b(12px);
  color: $c_g_2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  @include round(5px);
  cursor: pointer;
  width: 295px; 

}

#stream_list {
  float: left;
  width: 600px;
  margin-top: 5px;
  //min-height: 50px;
  #welcome {
    width: 600px;
    @include round(5px);
    padding: 22px;
    text-align: center;
    @include fh_b(12px);
    background: rgba(255,255,255,0.5);
    color: $c1;
  
  }
 
  .stream_item {

    width: 640px;
    min-height: 60px;
    padding-bottom: 30px; 
    //background: #FF00FF;

    .image {

      background: $c_g_5;
      position: absolute;
      width: 60px;
      height: 60px;
    
    }

    .top_box {
      position: absolute;
      width: 640px;
    
    .headline {
      width: 300px;
      padding-top: 5px;
      margin-left: 80px;
      float: left;
      .bold {
        @include fh_b(14px);
        color: $c_g_4;
      
      }
      .normal {
        @include fh(14px);
        color: $c_g_2;

      
      }
    }
    .subline {
        padding-top: 10px;
        float: right;
        @include fh(12px);
        color: $c_g_5;
        margin-left: 80px;
        margin-right: 10px;
    
    
    }  
    }
    
    .text {
        width: 550px;
        padding-top: 5px;
        @include fh(13px);
        color: $c_g_4;
        margin-right: 10px;
        line-height: 16px;
        padding-top: 35px;
        margin-left: 80px;
        padding-bottom: 30px;
        border-bottom: solid;
        border-width: 1px;
        border-color: rgba(0,0,0,0.05);
    
    }
  
  
  }
  

}
.mini_cover {

  width: 60px;
  height: 73px;
  margin-top: 0px;
  @include round(3px); 
  position: absolute;

  img {
    overflow: hidden;
    width: 54px;
    height: 54px;
    margin-left: 3px;
    margin-top: 4px;
    position: absolute;
  
  }

  .case {
    width: 60px;
    height: 73px;
    background: url("/assets/dashboard/tape_cover_off.png") no-repeat top left;
    position: absolute;
  
  }    
  .case:hover {
    background: url("/assets/dashboard/tape_cover_off.png") no-repeat top left;
    position: absolute;
  
  }    
  .wheels {
    width: 39px;
    height: 12px;
    margin-left: 11px;
    margin-top: 25px;
    background: url("/assets/dashboard/wheels_off.gif") no-repeat center center;
    position: absolute;
    @include round(20px);
  
  } 
}

.dashboard_widgets {
  float: right; 

}

.dashboard_tape_header {

  background: url("/assets/dashboard/active_tape_icon.png") no-repeat;

}

.dashboard_invite_header {
  background: url("/assets/dashboard/active_invite_icon.png") no-repeat;

}

.dashboard_header {
  height: 50px;
  cursor: pointer;
  @include round(5px);
  margin-bottom: 5px;
  margin-top: 20px;
  @include fh_b(14px);
  @include c_g_2;
  padding-left: 75px;
  line-height: 50px; 
  // background: url("/assets/dashboard/widget_bg.png") no-repeat bottom center;
  background-color: rgba(0,0,0,0.04);
}

#dashboard_invites {
  display: none;

}
.dashboard_widget {
  width: 295px;
  margin-right: 10px;



  .dashboard_content {
    clear: both;
    margin-top: 10px;
    
    .dashboard_tape:hover {
    
      //background: rgba(0,0,0,0.03);
      @include round(5px);


      .mini_cover {
        transform:rotate(-2deg);
        -ms-transform:rotate(-2deg); /* IE 9 */
        -moz-transform:rotate(-2deg); /* Firefox */
        -webkit-transform:rotate(-2deg); /* Safari and Chrome */
        -o-transform:rotate(-2deg); /* Opera */
        .wheels {
          background: url("/assets/dashboard/wheels.gif") no-repeat center center;
        
        }
      
      }
      
    
    }
    .dashboard_tape {
      margin-bottom: 5px;
      height: 60px;
      cursor: pointer;
      .mini.cover {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
      
      }

      .info_box {
        display: inline-block;
        width: 190px;
        height: 20px;
        float: left;
        margin-top: 10px;
        padding: 0px 10px;
        @include fh_b(12px);
        @include c_g_4;
        margin-left: 65px;
        .headline {
            overflow: hidden;
            white-space: nowrap;
            height: 13px;
            .author {
            color: $c_g_2;
            
            }
          
         }

          .subline {
            height: 13px;
            margin-top: 5px;
            @include fh(11px); 
            color: $c_g_2;
         }
        .invite_btn {
          background: $c_g_2;
          display: inline-block;
          @include fh_b(12px);
          line-height: 20px;
          margin-top: 5px;
          padding: 2px 10px;
          @include round(3px);
    

        
        }

        .accept {
          

          background: url("/assets/dashboard/accept_icon_off.png") no-repeat;
          background-color: $c3;
          color: $c3b; 
          padding-left: 24px;




        }
        .accept:hover {
          background: url("/assets/dashboard/accept_icon.png") no-repeat;
          

          background-color: $c3b;
          color: white; 
        }
        .decline {
          background: url("/assets/dashboard/decline_icon_off.png") no-repeat;
          background-color: $c_g_5;
          color: $c_g_2;
          width: 5px;
          height: 20px;



        
        }
        .decline:hover {
          background: url("/assets/dashboard/decline_icon.png") no-repeat;
          background-color: rgba(0,0,0,0.1);
          color: $c1;         
    

        
        }
      }
      
    
    }

  }
 .dashboard_widget_header { 

 width: 295px; 
 height: 60px;
 display: inline-block;
 

 // background: url("/assets/dashboard/widget_bg.png") no-repeat bottom center;


  #dashboard_modul {
    clear: both;

    .headline {
      @include c_g_1;
      @include fh_b(16px); 
      display: inline-block;
      margin-right: 20px;
      float: left;
      padding-top: 42px;
      padding-bottom: 12px;
    }

    .filters {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      @include c_g_2;
      @include fh_b(14px); 
      display: inline-block;

      .filter {
        cursor: pointer;
        display: inline-block;
        padding: 0px 20px;
        padding-top: 42px;
        padding-bottom: 12px;
        color: $c_g_4;

        float: left;
      
      
      }
      .filter:hover {
        
        background: #f6f6f6;
      }      
      .filter.active {
        
        background: #f6f6f6;
        color: $c_g_2;
      }


    }
  
  }
  
  }


}

#dashboard_stream {
  display: inline-block;

  background: url("/assets/dashboard/stream_bg.png") no-repeat bottom center;
  height: 70px;
  width: 630px;


  #dashboard_filter {
    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      float: left;
      margin-top: 37px;
      margin-right: 5px;
      background: url("/assets/dashboard/dash_icon.png") no-repeat center center;


      
    
    }


    .headline {
      @include c_g_1;
      @include fh_b(16px); 
      display: inline-block;
      margin-right: 20px;
      float: left;
      padding-top: 42px;
      padding-bottom: 12px;
      width: 52px;
    }

    .filters {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      @include c_g_2;
      @include fh_b(14px); 
      display: inline-block;

      .filter {
        cursor: pointer;
        display: inline-block;
        padding: 0px 20px;
        padding-top: 42px;
        padding-bottom: 12px;
        color: $c_g_4;

        float: left;
      
      
      }
      .filter:hover {
        
        background: #f6f6f6;
      }      
      .filter.active {
        
        background: #f6f6f6;
        color: $c_g_2;
      }


    }
  
  
  }


}




