@import "tools/colors";
@import "tools/fonts";
@import "tools/effects";

#my_message {
  
  background: rgba(0,0,0,0.03);
  margin-top: 80px;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 920px;
  text-align: center;
  color: $c_g_4;
  @include fh(15px);
  @include round(5px);
  line-height: 19px;


}

  .welcome_teaser:hover {
    background: url("/assets/dashboard/teaser_bg.png") no-repeat center bottom;
    .subline.red { 
      color: $c1; 
    }
    .subline.green { 
      color: $c3; 
    }
    .subline.blue { 
      color: $c4; 
    }
  }


  .welcome_teaser {
    padding: 10px;
    width: 280px;
    height: 190px; 
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    .header {
      // background: yellow;
      width: 300px;
      height: 100px;
      .icon.dash {
        background: url("/assets/dashboard/teaser_icon_dash.png") no-repeat center center;
      }
      .icon.explore{
        background: url("/assets/dashboard/teaser_icon_exlore.png") no-repeat center center;
      }

      .icon.tape {
        background: url("/assets/dashboard/teaser_icon_tape.png") no-repeat center center;
      }      
      .icon {
      
        width: 90px;
        height: 100px;
        background: green;
        float: left;
      }
      .headline.red {
        color: $c1
      }
      .headline.green {
        color: $c3
      }
      .headline.blue {
        color: $c4
      }      
      .headline {
        width: 190px;
        height: 100px;
        float: left;
        // background: purple;
        @include fh_b(20px);
        line-height: 100px;
        color: $c3;
        .light {
          @include fh(20px);
        
        }

        
      }

    
    }
       .subline {
        margin-top: -5px;
        color: #c0c1c1;
        @include fh(14px);
        padding: 15px;
        line-height: 18px;
      
      } 
  }
  .welcome_teaser.tapes {

    float: left;
    margin-top: 8px;
    margin-left: 5px;
  
  }

  .welcome_teaser.last {
    margin-right: 0px;
  
  }

.start_box {

  width: 625px;
  height: 200px;
  // margin-top: 5px;
  // background: rgba(0,0,0,0.03);
  @include round(5px);
  margin-bottom: 15px;




}

h1 {
  @include fh_b(60px);
  color: $c_g_5;
  margin-top: 30px;
  margin-bottom: -10px;

}

a {
  text-decoration: none;
}
.more_tapes:hover {
  
  background: rgba(0,0,0,0.05);
  color: $c1;

}
.more_tapes {
  background: rgba(0,0,0,0.02);
  // background: rgba(0,0,0,0.02);
  @include fh_b(12px);
  color: $c_g_2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  @include round(5px);
  cursor: pointer;
  width: 305px; 

}

#stream_list {
  width: 630px;
  padding: 0px;
  margin: 0px;
  margin-top: -6px;
  //min-height: 50px;
  #welcome {
    width: 600px;
    @include round(5px);
    padding: 22px;
    text-align: center;
    @include fh_b(12px);
    background: rgba(255,255,255,0.5);
    color: $c1;
  
  }
  .stream_item:hover {
    background: url("/assets/dashboard/activity_bg_on.png") no-repeat top center;
    opacity: 1; 
    .top_box {
    .date {
      
      color: $c_g_4;
    
    }
    }
  }
  // .stream_item.one {  opacity:1; }
  // .stream_item.two { opacity:0.9;  }
  // .stream_item.three { opacity:0.8;  }
  // .stream_item.four {  opacity:0.7; } 
  // .stream_item.five {  opacity:0.6; } 
  // .stream_item.six {  opacity:0.5; } 
  // .stream_item.seven {  opacity:0.4; } 
  // .stream_item.eight {  opacity:0.3; } 
  // .stream_item.nine {  opacity:0.2; } 
  // 
  // .stream_item.one:hover,.stream_item.two:hover,.stream_item.three:hover,.stream_item.four:hover,.stream_item.five:hover,.stream_item.six:hover,.stream_item.seven:hover,.stream_item.eight:hover,.stream_item.nine:hover {
  //   opacity: 1;
  // }
  

  .stream_item {
    list-style-type: none;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;

    width: 630px;
    min-height: 40px;
    padding-bottom: 30px; 
    padding-top: 10px; 
    //padding-left: 10px;
    //background: #FF00FF;
    clear: both;
    //opacity:0.2;
    //background: url("/assets/dashboard/activity_bg.png") no-repeat top center;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.05);


    .image {

      background: url("/assets/dashboard/activity_image.png") no-repeat center center;
      background-color: $c_g_5;
      position: absolute;
      width: 50px;
      height: 50px;
      @include round(3px);
      z-index: 1000;
      img {
      width: 50px;
      height: 50px;      
      @include round(3px);
      
      }

    
    }

    .top_box {
      position: absolute;
      width: 620px;
    
    .headline {
      width: 500px;
      padding-top: 13px;
      margin-left: 65px;
      
      float: left;
      .bold {
        @include fh_b(14px);
        color: $c_g_1;
      
      }
      .normal {
        @include fh(14px);
        color: $c_g_2;
        margin: 0px 5px; 
      .green {
        color: $c3; 
        @include fh_b(14px);
        
        }
      .yellow {
        color: $c2; 
        @include fh_b(14px);
        
        }
      .red {
        color: $c1; 
        @include fh_b(14px);
        
        }      
      .blue {
        color: $c4; 
        @include fh_b(14px);
        
        }



      }


    }
    .date {
        padding-top: 18px;
        float: right;
        @include fh_b(11px);
        color: $c_g_5;
        margin-left: 80px;
        margin-right: 10px;
        position: absolute;
        margin-left: 560px;
    
    
    }  
    }
    .comment_box {
      //float: left;
      padding-top: 35px;
      margin-left: 65px;
      
      .lip {
        height: 15px;
        width: 560px;
        background: url("/assets/dashboard/lip.png") no-repeat left bottom;
      
      }
      .text {
          padding-top: 5px;
          @include fh(12px);
          color: $c_g_4;
          line-height: 16px;
          line-height: 18px;
          background: rgba(0,0,0,0.05);
          
          padding: 15px 20px;
          @include round(5px);
          display: inline-block;

      
      }
      .cover_box {
          @include fh(12px);
          color: $c_g_4;
          line-height: 16px;
          line-height: 18px;
          background: rgba(0,0,0,0.05);
          
          padding: 10px 15px;
          @include round(5px);
          display: inline-block;
          min-height: 60px;
          min-width: 60px;
      .info_box {
        display: inline-block;
        height: 20px;
        float: left;
        margin-top: 12px;
        padding: 0px 10px;
        @include fh_b(12px);
        @include c_g_4;
        margin-left: 65px;
        .headline {
            // overflow: hidden;
            // white-space: nowrap;
            height: 13px;
            a {
            color: $c_g_4;
            }

          
         }
        .author {
          color: $c_g_3;
          @include fh(12px);
        
        }
         .version {
            margin-top: 5px;
            height: 24px;
            @include fh(11px); 
            color: $c_g_2;         
            @include c_g_1;
            line-height: 26px;
            @include round(3px);
            padding: 0px 7px;
            background: rgba(255,255,255,0.5);
         }
          .subline {
            height: 13px;
            margin-top: 5px;
            @include fh(11px); 
            color: $c_g_2;
         }
       }
      
      }


    } 
  
  
  }
  

}
.mini_cover {

  width: 60px;
  height: 73px;
  margin-top: 0px;
  @include round(3px); 
  position: absolute;

  .remix {
    
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    z-index: 1000;
    background: url("/assets/tapes/remix_off.png") no-repeat top left;
    margin-left: 5px;
    margin-top: 5px;

  
  }

  img {
    overflow: hidden;
    width: 54px;
    height: 54px;
    margin-left: 3px;
    margin-top: 4px;
    position: absolute;
  
  }

  .case {
    width: 60px;
    height: 73px;
    background: url("/assets/dashboard/tape_cover_off.png") no-repeat top left;
    position: absolute;
  
  }    
  .case:hover {
    background: url("/assets/dashboard/tape_cover_off.png") no-repeat top left;
    position: absolute;
  
  }    
  .wheels {
    width: 39px;
    height: 12px;
    margin-left: 11px;
    margin-top: 25px;
    background: url("/assets/dashboard/wheels_off.gif") no-repeat center center;
    position: absolute;
    @include round(20px);
  
  } 
}

.dashboard_widgets {
  float: right; 

}

.dashboard_tape_header {


  // background: url("/assets/dashboard/active_tape_icon.png") no-repeat;
}

.dashboard_invite_header {
  // background: url("/assets/dashboard/active_invite_icon.png") no-repeat;

}

.dashboard_header {
  height: 50px;
  cursor: pointer;
  @include round(5px);
  margin-top: 20px;
  @include fh_b(14px);
  @include c_g_4;
  padding-left: 75px;
  line-height: 50px; 
  // background: rgba(0,0,0,0.03);
  // background: url("/assets/dashboard/widget_bg.png") no-repeat bottom center;
}

#dashboard_invites {
  display: none;

}
.dashboard_widget {
  width: 305px;
  // margin-right: 30px;



  .dashboard_content {
    clear: both;
    margin-top: 4px;
    
    .dashboard_tape:hover, .dashboard_tape.one:hover, .dashboard_tape.two:hover, .dashboard_tape.three:hover, .dashboard_tape.four:hover, .dashboard_tape.five:hover {
    


      background-color: rgba(0,0,0,0.05);
      .mini_cover {
        transform:rotate(-2deg);
        -ms-transform:rotate(-2deg); /* IE 9 */
        -moz-transform:rotate(-2deg); /* Firefox */
        -webkit-transform:rotate(-2deg); /* Safari and Chrome */
        -o-transform:rotate(-2deg); /* Opera */
        .wheels {
          background: url("/assets/dashboard/wheels.gif") no-repeat center center;
        
        }
      
      }
      .info_box {


        .headline {
        
          a {
          color: $c1;
          }
        }
          .author {
            color: $c1b;
           a {
          color: $c1b;

          }         
          }

      }
    
    }

    .dashboard_tape:last-child {
      @include round_bottom(5px);
    
    }

    .dashboard_tape:first-child {
      @include round_top(5px);
    
    }
  .dashboard_tape.one { background-color: rgba(0,0,0,0.04); }
  .dashboard_tape.two { background-color: rgba(0,0,0,0.03); }
  .dashboard_tape.three { background-color: rgba(0,0,0,0.02); }
  .dashboard_tape.four { background-color: rgba(0,0,0,0.01); }




    .dashboard_tape {
      height: 60px;
      cursor: pointer;
      padding: 10px;
      list-style-type: none;
      .mini.cover {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
      
      }

      .info_box {
        display: inline-block;
        width: 190px;
        height: 20px;
        float: left;
        margin-top: 10px;
        padding: 0px 10px;
        @include fh_b(12px);
        @include c_g_4;
        margin-left: 65px;
        .headline {
          margin-bottom: 3px;
          a {
            overflow: hidden;
            white-space: nowrap;
            height: 13px;
            .author {
            color: $c_g_2;
            @include fh(12px);
            
            }
            color: $c_g_4;
          }
          
         }
        .author {
          a {
          color: $c_g_2;
          @include fh(11px);
          }
        
        }
          .subline {
            height: 13px;
            margin-top: 5px;
            @include fh(11px); 
            color: $c_g_2;
         }
        .invite_btn {
          background: $c_g_2;
          display: inline-block;
          @include fh_b(12px);
          line-height: 20px;
          margin-top: 5px;
          padding: 2px 10px;
          @include round(3px);
    

        
        }

        .accept {
          

          background: url("/assets/dashboard/accept_icon_off.png") no-repeat;
          background-color: $c3;
          color: $c3b; 
          padding-left: 24px;




        }
        .accept:hover {
          background: url("/assets/dashboard/accept_icon.png") no-repeat;
          

          background-color: $c3b;
          color: white; 
        }
        .decline {
          background: url("/assets/dashboard/decline_icon_off.png") no-repeat;
          background-color: $c_g_5;
          color: $c_g_2;
          width: 5px;
          height: 20px;



        
        }
        .decline:hover {
          background: url("/assets/dashboard/decline_icon.png") no-repeat;
          background-color: rgba(0,0,0,0.1);
          color: $c1;         
    

        
        }
      }
      
    
    }

  }

.dashboard_widget_header.invites {

 background: url("/assets/dashboard/active_invite_icon.png") no-repeat left bottom;
}
.dashboard_widget_header.tapes {
 background: url("/assets/dashboard/active_tape_icon.png") no-repeat left bottom;
}


 .dashboard_widget_header { 

 width: 205px; 
 height: 60px;
 display: inline-block;
 

 // background: url("/assets/dashboard/widget_bg.png") no-repeat bottom center;


  #dashboard_modul {
    clear: both;

    .headline {
      @include c_g_1;
      @include fh_b(16px); 
      display: inline-block;
      margin-right: 20px;
      float: left;
      padding-top: 42px;
      padding-bottom: 12px;
    }

    .filters {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      @include c_g_2;
      @include fh_b(14px); 
      display: inline-block;

      .filter {
        cursor: pointer;
        display: inline-block;
        padding: 0px 20px;
        padding-top: 42px;
        padding-bottom: 12px;
        color: $c_g_4;

        float: left;
      
      
      }
      .filter:hover {
        
        background: #f6f6f6;
      }      
      .filter.active {
        
        background: #f6f6f6;
        color: $c_g_2;
      }


    }
  
  }
  
  }


}

#dashboard_stream {
  float: left;

}



#dashboard_filter_box {
  display: inline-block;

  background: url("/assets/dashboard/stream_bg.png") no-repeat bottom center;
  height: 70px;
  width: 630px;


  #dashboard_filter {
    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      float: left;
      margin-top: 37px;
      margin-right: 5px;
      background: url("/assets/dashboard/dash_icon.png") no-repeat center center;


      
    
    }


    .headline {
      @include c_g_1;
      @include fh_b(16px); 
      display: inline-block;
      margin-right: 20px;
      float: left;
      padding-top: 42px;
      padding-bottom: 12px;
      width: 52px;
    }

    .filters {
      padding: 0px;
      margin: 0px;
      list-style-type: none;
      @include c_g_2;
      @include fh_b(14px); 
      display: inline-block;

      .filter {
        cursor: pointer;
        display: inline-block;
        padding: 0px 20px;
        padding-top: 42px;
        padding-bottom: 12px;
        color: $c_g_4;

        float: left;
      
      
      }
      .filter:hover {
        
        background: #f6f6f6;
      }      
      .filter.active {
        
        background: #f6f6f6;
        color: $c_g_2;
      }


    }
  
  
  }


}




