@import "tools/colors";
@import "tools/effects";
@import "tools/fonts";

.flash {
  height: 20px;
  @include c_1_b; 
  position: absolute;
  top: 50px;
  width: 100%;
  @include fh_b(12px);
  line-height: 20px;
  text-align: center;
  color: white;

}
.flash.marge {

  top: 0px;

}


header {
  
  background: rgba(75,75,75,0.95);
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px; 
  z-index: 12000;



  .logo:hover {
    background-color: $c1;
    background: url("/assets/header/tapesfm_logo_over.png");
    .dropdown {
    
    visibility: visible;
    }
  }

  .logo {
    
    background: url("/assets/header/tapesfm_logo.png");
    width: 160px;
    height: 50px;
    display: inline-block;
    float: left;
    cursor: pointer;

    .dropdown {
      width: 160px;
      background: $c1;
      // margin-top: 50px; 
      visibility: hidden;
      .home_btn {
        height: 50px;
        background: url("/assets/header/tapesfm_logo_over.png");


      
      }

      
      @include round_bottom(2px);
      a {
        @include fh_b(12px);
        @include c_g_2;

      }

      .header_button.one {   background: rgba(255,255,255,0.1);  }
      .header_button.two {   background: rgba(255,255,255,0.15);  }
      .header_button.three {   background: rgba(255,255,255,0.2);  }
      .header_button.four {   background: rgba(255,255,255,0.25);  }
      .header_button.five {   background: rgba(255,255,255,0.3);  }

      .header_button:hover {
       background: rgba(255,255,255,0); 
       color: white;
      }


      .header_button {
        height: 40px;
        background: rgba(255,255,255,0.1);
        line-height: 40px;
        padding-left: 20px;
        color: white;
      
      }  
    }
  }



  #quick_buttons {
      display: inline-block;
  
    .quick_button{
      display: inline-block;
      background: rgba(46,46,46,0.6);
      height: 50px;
      width: 50px;
      float: left;
      margin-right: 0px;
      margin-top: 0px;
      .shadow_el {

        //background: rgba(255,255,255,0.2);
        position: absolute;
        width: 50px;
        height: 50px;
        background: url("/assets/shadow_el.png");
      
      
      }
   
    }
    .quick_button:hover {
    
      background: rgba(46,46,46,1);
      cursor: pointer;
    }


    .quick_button#to_tapes {
      background-image: url("/assets/header/icon_tapes_on.png");
      background-position: center center;
    } 
    .quick_button.active#to_tapes {
      background-image: url("/assets/header/icon_tapes_off.png");
      background-color: $c1;
      background-position: center center;
    }


    .quick_button#to_dash {
      background-image: url("/assets/header/icon_dashboard_on.png");
      background-position: center center;
    }
    .quick_button.active#to_dash {
      background-image: url("/assets/header/icon_dashboard_off.png");
      background-color: $c3;
      background-position: center center;
    }


    .quick_button#to_listen {
      background-image: url("/assets/header/icon_listen_on.png");
      background-position: center center;
    }
    .quick_button.active#to_listen {
      background-image: url("/assets/header/icon_listen_off.png");
      background-color: $c4;
      background-position: center center;
    }
    .quick_button#search_button {
      background-image: url("/assets/header/icon_search_on.png");
      background-position: center center;
    }
    .quick_button#search_button.searching {
      background: #2d2d2d url("/assets/header/search_wait.gif") no-repeat center center;
    }

    

    #search {
      float: left; 
      #search_box {
        float: left;
        width: 280px;
        height: 48px;
        padding-top: 1px;
        @include c_g_0_b;
        background-image: url("/assets/shadow_el.png");
        background-position: left;
        background-repeat: no-repeat;

        //background: #343434;
        p {
          padding: 0px;
          margin: 0px;
          @include fh_b(13px);
          @include c_g_1;

        
        }
        label  { 
          width: 240px;
          position:absolute; 
          background: none;
          padding: 0px 20px;
          line-height: 50px;
        }
        input{
          width: 240px;
          height: 48px;
          background: none;
          border: none;
          outline: none;
          padding: 0px 20px;
          font-size: 14px;
          background: url("/assets/header/inner.png") no-repeat right;
          @include fh_b(13px);
          @include c_g_5;
          -webkit-transition: all .6s ease;
          -moz-transition: all .6s ease;
          transition: all .6s ease;
          

        }

        input:focus {
          //@include c_g_0_b;
          background-color: rgba(0,0,0,0.2)
        }
          
      }

  
    }
  
  }

    #user_info:hover {
      background: #323232;

      .user_set {
      
        .dropdown {
        
          visibility: visible;
        }
      
      }

    }
    #user_info {
      float: left;
      display: inline-block;
      background: none;
      height: 50px;
      width: 295px;
      text-align: left;
      @include fh(14px);
      @include c_g_2;

      
      .user_image {
      
        height: 50px;
        width: 50px;
        display: inline-block;
        float: left;
        background: url("/assets/user_default.png") no-repeat center center;
        background-color: rgba(255,255,255,0.1);

        .shadow_el {

          position: absolute;
          width: 50px;
          height: 50px;
          background: url("/assets/shadow_el.png");
        
        
        }
        .image {

        //background: rgba(255,255,255,0.2);
        position: absolute;
        width: 50px;
        height: 50px;

      
      
        }   
      }

      .user_set {
      
        height: 50px;
        
        float: left;
        @include fh_b(12px);
        background: url("/assets/shadow_el.png") no-repeat left;
        width: 245px;
        cursor: pointer;
        a {
        
          @include fh_b(12px); 
        }
        .dropdown {
        
          visibility: hidden;
          margin-top: 50px;
          width: 245px;
          background: #323232;
          position: absolute;
          @include round_bottom(2px);
          a {
            @include fh_b(12px);
            @include c_g_2

          }

          .header_button.one {   background: rgba(255,255,255,0.03);  }
          .header_button.two {   background: rgba(255,255,255,0.06);  }
          .header_button.three {   background: rgba(255,255,255,0.09);  }
          .header_button.four {   background: rgba(255,255,255,0.12);  }
          .header_button.five {   background: rgba(255,255,255,0.15);  }

          .header_button:hover {
           background: rgba(255,255,255,0); 
           color: $c1;
          }


          .header_button {
            height: 40px;
            background: rgba(255,255,255,0.1);
            line-height: 40px;
            padding-left: 20px;
          
          }
          .minutes {
            height: 14px;
            padding: 10px;
            padding-top: 5px;

            .minutes_used {
              float: left; 
              margin-left: 0px;
              padding-left: 10px;
              color: $c1;
              background: url("/assets/header/arrow_left.png") no-repeat left center;
            }
            .minutes_total {
              float: right; 
              padding-right: 10px;
              background: url("/assets/header/arrow_right.png") no-repeat right center;
            
            } 
          }

        
        }
        
        
        .user_name {
          padding: 10px;
          padding-top: 14px;
          padding-bottom: 0px;
          padding-right: 0px;
          height: 20px;
          float: left;
          display: inline-block;
        
        }

        #badge {
          padding: 5px 8px;
          float: right;
          margin-top: 8px;
          margin-left: 5px;
          display: inline-block;
          background: rgba(0,0,0,0.1);
          @include round(2px);
          @include fh_b(11px);
          background-position: center center;
          background-repeat: no-repeat;
          cursor: pointer;
          margin-right: 8px;
          @include c_1_b;
          color: white;
          background: $c_g_1; 
          color: $c1; 
        }

        .user_logout {
          width: 20px;
          height: 20px;
          background: #00ff00;
          float: left;
          margin-top: 10px;
          margin-left: 5px;
          display: inline-block;
          background: rgba(0,0,0,0.1);
          @include round(10px);
          background-image: url("/assets/header/logout_icon.png");
          background-position: center center;
          background-repeat: no-repeat;
          cursor: pointer;
        
        }
        .user_logout:hover {
        
          background-color: rgba(0,0,0,0.3);
        
        
        }


      }
        .user_bar {
        
          width: 225px;
          height: 5px;
          background: rgba(0,0,0,0.1);
          position: absolute;
          margin-top: 37px;
          margin-left: 10px;
          @include round(10px);
          overflow: hidden;
          cursor: pointer;

          .min_bar {
            
            height: 5px;
            width: 0px;
            background: $c1;
            
          }
        
        }
      

      a {
        @include c_g_3;
        @include fh_b(14px);
        text-decoration: none;
      }
      a:hover{
        @include c_g_4;
      }


    }


    #user_login {
      float: right;
      display: inline-block;
      background: none;
      height: 53px;
      width: 190px;
      text-align: center;
      @include fh(14px);
      @include c_g_2;
      line-height: 53px;
      a {
        @include c_1;
        @include fh_b(14px);
        text-decoration: none;
      }
      a:hover{
        @include c_g_4;
        color: white;
      }


    }
}
