header {
  
  background: #494949;
  height: 54px;
  width: 100%;
  position: fixed;
  top: 0px; 

}
header .logo {
  
  background: url("/assets/header/tapesfm_logo.png");
  width: 160px;
  height: 54px;
  

}
