// Place all the styles related to the tapedeck controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "tools/colors";
@import "tools/fonts";
@import "tools/effects";
#open_button:hover {

  background: url("/assets/tapedeck/invite_plus_on.png") no-repeat center center;

}

#open_button {
    
  width: 45px;
  height: 45px;
  position: absolute;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  border-color: $c_g_5;
  @include round(5px);
  background: url("/assets/tapedeck/invite_plus_off.png") no-repeat center center;


} 
    #tapedeck_invite_add {
      opacity: 0;
      margin-top: -10px;
      position: absolute;
      margin-left: 20px;
      #invite_send_button:hover {

          @include c_4_b;
          @include c_g_1;
          @include btn($c4c);

        
      }
      #invite_send_button {
          @include c_g_1_b;
          color: white;
          margin-right: 20px;
          padding: 8px 12px;
          display: inline-block;
          @include round(3px);
          @include fh_b(12px);
          position: absolute;
          margin-left: 236px; 
          margin-top: 5px;
          z-index: 6000;
          cursor: pointer;
          @include btn($c_g_2);
      }
      #invite_label {
        position: absolute;
        width: 205px;
        border: none;
        outline: none;
        @include fh_b(12px);
        @include round(5px);
        @include c_g_2;
        padding: 11px 10px; 
        padding-top: 14px;
        margin-left: -10px;
      
      }
      #invite_field {
        width: 215px;
        border-color: #e9e9e9;
        border-style: solid;
        border-width: 1px;
        outline: none;
        @include fh_b(12px);
        @include round(5px);
        @include c_g_5_b;
        background-color: #FFF;
        @include c_g_1;
        padding: 10px 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 80px;
        height: 20px;
        margin-left: -10px;
      
      }

      #invite_field:focus {

      
      }    
    }

  .collaborators.logedout {
    margin-left: 15px;
    
  }
  .collaborators {
    position: relative;
    width: 290px;
    clear: both;
    list-style-type: none;
    padding: 0px;
    margin: 7px;
    margin-left: 65px;


  




    .collaborator:hover {
      .remove_collaborator {
        display: inline;
      }
    }
    .collaborator.pending {
      opacity: 0.5;
      
    }
    .collaborator {
      cursor: pointer;
      display: inline-block;
      width: 50px;
      height: 50px;
      @include c_g_5_b;
      float: left;
      margin-right: 2px;
      margin-bottom: 2px;
      overflow: hidden;
      .pic {
        width: 50px;
        height: 50px;
        @include c_g_5_b;
        position: absolute;
                  @include round(3px);
          background: url("/assets/dashboard/activity_image.png") no-repeat center center;
          background-color: $c_g_5;
          
          img {
            @include round(3px);
          
          }
      }

      .remove_collaborator {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-left: 30px;
        display: none;
        background: url("/assets/tapedeck/collaborator_remove_icon.png");
        background-color: $c1;

      }
    }

  }


  #tapedeck_sidebar {
    background: #00FF00; 
    width: 295px;
    padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    display: inline-block;
    float: left;
    background: url("/assets/tapedeck/sidebar_bg.png") no-repeat;
    min-height: 100px;

    .side_widged, #tapedeck_collaborators_header, #tapedeck_remix_header {
      
      clear: both;
      padding: 0px;
      margin: 0px;
      padding-left: 10px;
      @include c_g_4;
      @include fh_b(12px);
      min-height: 55px;

      @include ts_out(#FFF);
      width: 315px;
      // margin-left: -8px;

      .icon.remix_icon {
        background: url("/assets/tapedeck/remix_icon_h.png");
      }      

      .icon.collaborators_icon {
        background: url("/assets/tapedeck/collaborator_icon.png");
      }
      .icon.license_icon {
        background: url("/assets/tapedeck/license_icon.png");
      }

      .icon {
        
        margin-top: 10px;
        display: inline-block;
        height: 35px;
        width: 35px;
        float: left;
        margin-right: 5px;

      
      }

      .headline {
        margin-top: 10px;
        height: 35px;
        float: left; 
        @include fh_b(14px);
        line-height: 35px;
      }



        

      }

      .license_info {
        @include fh(11px);
        color: $c_g_2;
        clear: both;
        height: 30px;
        line-height: 30px;
        a {
          
          color: $c_g_4;
          @include fh_b(11px);
          
        
        }
        a:hover {
          
          color: $c1;
          
        
        }
      }
      .license_icons {
        margin-left: 0px;
        .license.active {
          opacity: 0.7;

        }
        .license {
          width: 54px;
          height: 54px;
          float: left;
          opacity: 0.1;
        
        }
        .license.cc {
          
          background: url("/assets/tapes/cc_cc.png") no-repeat center center;
        
        }

        .license.by {
          
          background: url("/assets/tapes/cc_by.png") no-repeat center center;
        
        }
        .license.sa {
          
          background: url("/assets/tapes/cc_sa.png") no-repeat center center;
        
        }
        .license.nc {
          
          background: url("/assets/tapes/cc_nc.png") no-repeat center center;
        
        }

        .license.nd {
          
          background: url("/assets/tapes/cc_nd.png") no-repeat center center;
        
        }



    }



    #invite_button:hover {
      @include c_g_5_b;
    }

    #invite_button {
      width: 35px;
      height: 35px;
      @include c_g_5_b;
      position: absolute;
      margin-left: 270px;
      background: url("/assets/track/add_track_icon.png") no-repeat center center;
      @include round(5px);
      cursor: pointer;
    }


  }

    #remixes {
      padding: 0px;
      margin: 0px;

    .remix {
      clear: both;
      height: 60px;
      cursor: pointer;
      padding: 10px;
      list-style-type: none;
      padding: 10px;
      margin: 0px;
      margin-top: -5px;
      // background: green;
      width: 295px;
      .mini_cover {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
      
      }

      .info_box {
        display: inline-block;
        width: 200px;
        height: 20px;
        float: left;
        margin-top: 10px;
        padding: 0px 10px;
        // @include fh_b(12px);
        @include c_g_4;
        margin-left: 65px;
        .remix_headline {
          overflow: hidden;
          height: 13px; 
          @include fh_b(13px); 
          margin-bottom: 2px;
         }
        .remix_author {
          color: $c_g_2;
          @include fh(12px); 
        }
          
          .subline {
            height: 13px;
            margin-top: 5px;
            @include fh(11px); 
            color: $c_g_2;
         }



      }
    }
  }





#tapedeck_invites {
  


}
#tapedeck_notape {

  height: 85px;
  width: 960px;
  margin-top: 100px;
  margin-bottom: 25px;
  @include round(5px);
  text-align: center;
  @include fh_b(14px);
  line-height: 85px;
  @include c_g_2;
  display: none;

}

#tapedeck_main_set {
  display: inline-block;
  position: absolute; 

}

#tape_upload {
  margin-bottom: 20px;
  width: 960px;
  //background: #FF00FF;
  #upload_title {
    //background: #FF00FF;
    //width: 225px;
    //height: 50px;
    //position: absolute;
    @include c_g_2;
    @include fh_b(13px);
    line-height: 13px;
    margin-bottom: 10px;
    .upload_count {
      @include c_g_3; 
    }    

  
  }
  .uploadify-queue-item { 
    width: 960px;
    background: none;
  
  }
  

}

#tape_timestrip{
  margin-top: 70px;
  height: 50px;
  width: 960px;
  background: url("/assets/tapedeck/top_shadow.png") no-repeat bottom;
  
  
  #time_stamp {
    background: none;
    width: 150px;
    height: 50px;
    position: absolute;
    @include c_g_2;
    @include fh_b(13px);
    line-height: 55px;
    .tracks_count_hightlight {
      @include c_g_3;
    
    }

  }
  #time_zone {
    width: 800px;
    height: 50px;
    clear: both;
    background: none;
    margin-left: 150px;
    position: absolute;
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;

    .time_unit {
      width: 67px;
      height: 50px;
      float: left;
      //background: #FF00FF;
      @include fh_b(11px);
      @include c_g_2;
      background: url("/assets/tapedeck/time_unit_bg.png") no-repeat left bottom;
      line-height: 55px;
      padding-left: 10px;
    }

  }
}
  #tapedeck_controlls { 
    //background: #FF00FF;
    height: 40px;
    margin-bottom: 0px;
    width: 94px;
    float: left;
    display: inline-block;
    .c_button {
      width: 36px;
      height: 34px;
      display: inline-block;
      //background: #00FF00;
      float: left;
      margin-right: 5px;
      @include round(3px);
      @include c_g_4_b;
      @include border(3px, #7c7c7c);
    
    }
    .c_button:hover {
    
      background: none;
      @include border(3px, $c_g_2);
      width: 36px;
      height: 34px;
      cursor: pointer;
    }

    #pause {
      display: none; 
      background-image: url("/assets/header/icon_pause_on.png");
      background-position: center center ;
      background-repeat: no-repeat ;

    }
    #pause:hover {
      background-image: url("/assets/header/icon_pause_off.png");

    }
    #play {
      //display: none; 
      background-image: url("/assets/header/icon_play_on.png");
      background-position: center center ;
      background-repeat: no-repeat ;

    }
    #play:hover {
      //display: none; 
      background-image: url("/assets/header/icon_play_off.png");
      background-position: center center ;
      background-repeat: no-repeat ;
    }

    

    #stop:hover {
      background-image: url("/assets/header/icon_stop_on.png");
      background-position: center center ;
      background-repeat: no-repeat ;


      width: 36px;
      height: 34px;
      display: inline-block;
      //background: #00FF00;
      float: left;
      margin-right: 5px;
      @include round(3px);
      @include c_g_4_b;
      @include border(3px, #7c7c7c);


    }
    
    #stop {
      background: none;
      @include border(3px, $c_g_2);
      width: 36px;
      height: 34px;
      cursor: pointer;
      background-image: url("/assets/header/icon_stop_off.png");
      background-position: center center ;
      background-repeat: no-repeat ;


    }    
    #resume {
      display: none;
      background-image: url("/assets/header/icon_play_on.png");
      background-position: center center ;
      background-repeat: no-repeat ;
    }
    #resume:hover {
      display: none;
      background-image: url("/assets/header/icon_play_off.png");
      background-position: center center ;
      background-repeat: no-repeat ;
    }

  }
  #tape_select.open {
    @include round_top_left(3px);
    //@include round_top_left(5);

     #tape_select_button {
     
      background: url("/assets/header/icon_close.png") no-repeat;
      @include c_g_3_b;
     }

    .tapes_versions#tapedeck_current_version  {
      
      @include round(0);
      background: #FFFF00;
    
    }

  }
  #tape_edit {
    @include round_left(5px);
    //margin-top: 20px;
    position: relative;
    display: inline-block;
    //float: left;
    //right: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 270px;
    //background: #000;
    
    background: url("/assets/header/list_tile.png") no-repeat;
    
    @include c_g_3_b;
    
    color: #000;
    z-index: 10000;
    //width: 380px;
    left: 0px;  
    #tape_save_button {
      position: absolute;
      display: inline-block;
      margin-left: 270px;
      height: 40px;
      width: 40px;
      background: url("/assets/header/icon_open.png") no-repeat;    
      @include round_right(3px);
      @include c_g_3_b;

    }  

    #tape_save_button_wait {
      position: absolute;
      display: none;
      margin-left: 270px;
      height: 40px;
      width: 40px;
      //background: url("/assets/header/icon_open.png") no-repeat;    
      @include round_right(3px);
      @include c_3_b;

    }  



  }
  .arrow_left {
    
    //display: inline-block;
    height: 40px;
    width: 10px;
    position: absolute;
    margin-left: 408px;
    float: left;
    background: url("/assets/tapedeck/arrow_left.png") no-repeat;    

  
  }
  #tape_edit_buttons {

    position: absolute;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    @include round(3px);
    //margin-top: 20px;
    //float: left;
    //right: 40px;
    height: 40px;
    width: 230px;
    //background: #000;
    
    //background: url("/assets/header/list_tile.png") no-repeat;
    
    
    
    color: #000;
    z-index: 10000;
    //width: 380px;
    margin-left: 418px;
    .edit_button:first-child {
      @include round-left(3px)
    
    }
    .edit_button:last-child {
      @include round-right(3px)
    
    }

    .edit_button:hover {
      background-color: #FFF;
    }

    .edit_button {
      float: left;
      @include c_g_5_b;
      padding: 0px;
      margin: 0px;
      width: 43px;
      height: 40px;
      display: inline-block;
      cursor: pointer;

      
    }
  
    .edit_tape_button:hover {
      background: url("/assets/tapedeck/edit_tape_icon_on.png"); 
      @include c_2_b;
    }
    .edit_tape_button {
      background: url("/assets/tapedeck/edit_tape_icon_off.png"); 
      @include c_g_5_b;
    
    }

    .undo_tape_button:hover {
      background: url("/assets/tapedeck/undo_tape_icon_on.png"); 
      @include c_2_b;
    }
    .undo_tape_button {

      background: url("/assets/tapedeck/undo_tape_icon_off.png"); 
      @include c_g_5_b;
    }

    .remove_tape_button:hover {
      background: url("/assets/tapedeck/remove_tape_icon_on.png"); 
      //background-color: #FFF;
      @include c_1_b;
      
    }
    .remove_tape_button { 
      background: url("/assets/tapedeck/remove_tape_icon_off.png"); 
      @include c_g_5_b;
    }
    .star_tape_button:hover {
      background: url("/assets/tapedeck/star_tape_icon_on.png"); 
      @include c_4_b;
    }
    .star_tape_button {
    
      background: url("/assets/tapedeck/star_tape_icon_off.png"); 
      @include c_g_5_b;
    }    
    .bpm_tape_button:hover {
      background: url("/assets/tapedeck/bpm_tape_icon_on.png") no-repeat; 
      @include c_3_b;
      #bpm_value {
      @include c_3b;
        //background: rgba(0,0,0,0.03);

      }
      #bpm_ctrl {
       display: inline-block;
      
      }
    }
    .bpm_tape_button {
    
      min-width: 90px;
      background: url("/assets/tapedeck/bpm_tape_icon_off.png") no-repeat; 
      @include c_g_5_b;

      #bpm_value {
       padding: 0px;
       margin: 0px;
       border: none;
       outline: none;
       background: none;
       @include c_g_1;
       @include fh_b(14px);
       margin-left: 38px;
       //line-height: 41px;
       height: 40px;
       width: 32px;
       text-align: center;
       display: inline-block;
       float: left;
      }



      #bpm_ctrl {
        display: none;
        height: 40px;
        min-width: 19px;
        margin-left: 0px;
        //display: inline-block;
        float: left;
        background: rgba(0,0,0,0.05);
        .ctrl_buttons {
          
          height: 20px;
          width: 19px;
        
        }
        .ctrl_buttons:hover {
          background: rgba(0,0,0,0.1)
          
        
        }
         .ctrl_buttons#plus:hover {
          
          background-image: url("/assets/tapedeck/bpm_plus_on.png") ; 
        
        
        }  
         .ctrl_buttons#plus {
          
          background-image: url("/assets/tapedeck/bpm_plus_off.png") ; 
          background-position: center center;
          @include round_top_right(5px);
        
        
        }     
        .ctrl_buttons#minus:hover {
          background-image: url("/assets/tapedeck/bpm_minus_on.png") ; 
          
        
        }   
         .ctrl_buttons#minus {
          background-image: url("/assets/tapedeck/bpm_minus_off.png") ; 
          background-position: center center;
          @include round_bottom_right(5px);
          
        
        }     
      }
    }   
  }
  #tape_edit_modul {
    @include round_left(3px);
    //margin-top: 20px;
    position: relative;
    display: none;
    //float: left;
    //right: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 270px;
    //background: #000;
    
    //background: url("/assets/header/list_tile.png") no-repeat;
    background: url("/assets/tapedeck/edit_bg.gif");
    
    @include c_g_5_b;
    
    color: #000;
    z-index: 10000;
    //width: 380px;
    left: 0px;


    #tape_save_button.edit:hover {
      background: url("/assets/tapedeck/done_tape_icon_on.png") no-repeat;
      @include c_2_b;
      
    }    
    #tape_save_button.edit {
      position: absolute;
      //display: inline-block;
      margin-left: 270px;
      height: 40px;
      width: 40px;
      background: url("/assets/tapedeck/done_tape_edit_icon_off.png") no-repeat;
      @include round_right(3px);
      @include c_g_4_b;
      cursor: pointer;
    }


    #tape_save_button.wait:hover {
      background: url("/assets/tapedeck/wait_yellow.gif") no-repeat center center;
      //@include c_2_b;
      @include c_g_4_b;
      
    }    
    #tape_save_button.wait {
      position: absolute;
      //display: inline-block;
      margin-left: 270px;
      height: 40px;
      width: 40px;
      //background: url("/assets/tapedeck/wait.gif") no-repeat;
      background: url("/assets/tapedeck/wait_yellow.gif") no-repeat center center;

      @include round_right(3px);
      @include c_g_4_b;
      cursor: pointer;
    }



    #tape_save_button:hover {
      background: url("/assets/tapedeck/done_tape_icon_on.png") no-repeat;
      @include c_3_b;
      
    }
    #tape_save_button {
      position: absolute;
      //display: inline-block;
      margin-left: 270px;
      height: 40px;
      width: 40px;
      background: url("/assets/tapedeck/done_tape_icon_off.png") no-repeat;
      @include round_right(3px);
      @include c_g_4_b;
      cursor: pointer;
    }

    #tape_save_hint_box.edit {
    
      #tape_save_hint_sub {
        #tape_save_hint {
          @include c_2_b;
          @include c_2b;
        }
        #tape_save_hint_arrow {
          padding: 1px 10px;
 
          background: url("/assets/tapedeck/arrow_down_yellow.png") no-repeat;
        }
      }
    
    }
    #tape_save_hint_box {
      position:absolute;
      top:-34px;
      left: 50%;

      #tape_save_hint_sub {
        width: 200px;
        display: inline-block;
        position:relative;
        left: -50%;
        text-align: center;
        @include fh(12px);
        #tape_save_hint {
          @include c_3_b;
          @include c_3b;
          padding: 5px 10px;
          line-height: 28px;
          @include round(5px);
          .hint_bold {
            
            @include fh_b(12px);
            @include c_g_1; 
          
          }
        }
        

        #tape_save_hint_arrow {
          background: #FFFF00;
          padding: 1px 10px;
 
          background: url("/assets/tapedeck/arrow_down_green.png") no-repeat;
        }
      }
    }

    #tape_edit_field {
      @include c_1;
    }
  
    #tape_edit_label  {
    
      @include c_g_4;
    
    }
  }

  #tape_select{
    @include round_left(3px);
    //margin-top: 20px;
    position: relative;
    display: inline-block;
    //float: left;
    //right: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 270px;
    //background: #000;
    
    background: url("/assets/header/list_tile.png") no-repeat;
    
    @include c_g_3_b;
    
    color: #000;
    z-index: 10000;
    //width: 380px;
    left: 0px;
    
    #tape_select_button:hover {
    
      @include c_g_2_b;
    
    }
    #tape_select_button {
      position: absolute;
      display: inline-block;
      margin-left: 270px;
      height: 40px;
      width: 40px;
      background: url("/assets/header/icon_open.png") no-repeat;    
      cursor: pointer;
      @include round_right(3px);
      @include c_g_3_b;
    }
    #tape_edit_modul {
      display: none;

    
    }

    .tapes_versions {
      //background: #FFF;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      width: 270px;
      @include c_g_4_b;

    
    }
    

    .tapes_versions#tapedeck_current_version {

      display: inline-block;
      height: 40px;
      color: #000;
      @include round_left(3px);
      //@include c_g_4_b;
      //width: 300px;
    }
    .tapes_versions#tapedeck_versions {
      //width: 300px;
    

    }
    #version_list {
      position: absolute;
      //top: 20px;
      @include round_left(3px);
    
    }
  }

  #tape_menu {
    //background: #FF00FF;
    z-index: 2000;

    height: 40px;
    margin-bottom: 20px;
    width: 320px;  
    float: right;
    display: inline-block;
    position: absolute;
    margin-left: 640px;

    .m_button {
      width: 135px;
      height: 40px;
      display: inline-block;
      //float: right;
      margin-left: 5px;
      //@include round(5px);
      //@include c_g_4_b;
      z-index: 9100;
      padding-left: 14px

    }
    #download_tracks:hover {
      
      .download_dropdown {
      
        display: inline;
        visibility: visible;
        opacity: 1;
        margin-top: 0px;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        transition: all .1s ease;

      }
    
    }
    #download_tracks {
      //display: inline-block;
      //float: right;

      //position: relative;
      height: 40px;
      width: 135px;
      //@include c_g_4_b;
      //z-index: 6000;
      @include fh_b(12px);
      @include c_g_5;
      @include round(3px);
      line-height: 40px;
      position: absolute;
      z-index: 9001;

      .m_button {
      
        @include c_g_1;
        @include c_g_5_b;
      
        z-index: 90001;
      }

      .download_dropdown {
        width: 280px;
        position: absolute;
        margin-left: -4px;
        z-index: 90001;
        margin-top: 10px;
        //visibility: visible;
        display: none;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        transition: all .1s ease;
        .download_snip {
          //background: #FF00FF;
          height: 15px;
          
          background: url("/assets/tapedeck/download_snip.png") no-repeat center bottom;
          
        }
        .download_body {
          // clear: both;
          list-style-type: none;
          padding: 0px;
          margin: 0px;
          @include c_g_1_b;
          @include round(5px);
          padding: 5px 0px;
          margin-top: -1px;
       

          .download_el.c1:hover {
            .title {
              @include c_1b;
              @include c_1c_b;
              
            }
            .title:hover {
              @include c_1_b;
              color: white;
            }
            .wav {
              @include c_1b;
            }
            .wav:hover {
              @include c_1_b;              
              color: white;
            }
          
          }

          .download_el.c1 {
            .title {
              // @include c_1b_b;
              @include c_1;
              
            }
            .wav {
              @include c_1c_b;
              @include c_1b;              
            }
      
          
          }
          .download_el.c2:hover {
            .title {
              @include c_2b;
              @include c_2c_b;
              
            }
            .title:hover {
              @include c_2_b;
              color: white;
            }
            .wav {
              @include c_2b;
            }
            .wav:hover {
              @include c_2_b;              
              color: white;
            }
          
          }

          .download_el.c2 {
            .title {
              // @include c_2b_b;
              @include c_2;
              
            }
            .wav {
              @include c_2c_b;
              @include c_2b;              
            }
          
          }
          .download_el.c3:hover {
            .title {
              @include c_3b;
              @include c_3c_b;
              
            }
            .title:hover {
              @include c_3_b;
              color: white;
            }
            .wav {
              @include c_3b;
            }
            .wav:hover {
              @include c_3_b;              
              color: white;
            }
          
          }

          .download_el.c3 {
            .title {
              // @include c_3b_b;
              @include c_3;
              
            }
            .wav {
              @include c_3c_b;
              @include c_3b;              
            }
          
          }

          .download_el.c4:hover {
            .title {
              @include c_4b;
              @include c_4c_b;
              
            }
            .title:hover {
              @include c_4_b;
              color: white;
            }
            .wav {
              @include c_4b;
            }
            .wav:hover {
              @include c_4_b;              
              color: white;
            }
          
          }

          .download_el.c4 {
            .title {
              // @include c_4b_b;
              @include c_4;
              
            }
            .wav {
              @include c_4c_b;
              @include c_4b;              
            }
          
          }


          .download_el.c5:hover {
            .title {
              @include c_5b;
              @include c_5c_b;
              
            }
            .title:hover {
              @include c_5_b;
              color: white;
            }
            .wav {
              @include c_5b;
            }
            .wav:hover {
              @include c_5_b;              
              color: white;
            }
          
          }

          .download_el.c5 {
            .title {
              // @include c_5b_b;
              @include c_5;
              
            }
            .wav {
              @include c_5c_b;
              @include c_5b;              
            }
          
          }


          .download_el.c6:hover {
            .title {
              @include c_6b;
              @include c_6c_b;
              
            }
            .title:hover {
              @include c_6_b;
              color: white;
            }
            .wav {
              @include c_6b;
            }
            .wav:hover {
              @include c_6_b;              
              color: white;
            }
          
          }

          .download_el.c6 {
            .title {
              // @include c_6b_b;
              @include c_6;
              
            }
            .wav {
              @include c_6c_b;
              @include c_6b;              
            }
          
          }
          .download_el.c7:hover {
            .title {
              @include c_7b;
              @include c_7c_b;
              
            }
            .title:hover {
              @include c_7_b;
              color: white;
            }
            .wav {
              @include c_7b;
            }
            .wav:hover {
              @include c_7_b;              
              color: white;
            }
          
          }

          .download_el.c7 {
            .title {
              // @include c_7b_b;
              @include c_7;
              
            }
            .wav {
              @include c_7c_b;
              @include c_7b;              
            }
          
          }


          .download_el.c8:hover {
            .title {
              @include c_8b;
              @include c_8c_b;
              
            }
            .title:hover {
              @include c_8_b;
              color: white;
            }
            .wav {
              @include c_8b;
            }
            .wav:hover {
              @include c_8_b;              
              color: white;
            }
          
          }

          .download_el.c8 {
            .title {
              // @include c_8b_b;
              @include c_8;
              
            }
            .wav {
              @include c_8c_b;
              @include c_8b;              
            }
          
          }

          .download_el:first-child {
            .title {
              @include round_top_left_soft(5px);
            }
            .end {
              @include round_top_right_soft(5px);
            }
          }
          .download_el:last-child {
            .title {
              @include round_bottom_left_soft(5px);
            }
            .end {
              @include round_bottom_right_soft(5px);
            }
          }
          .download_el {
            
            clear: both;
            margin: 0px 5px;
            width: 290px;
            height: 30px;
            cursor: pointer;
            
            line-height: 30px;
            .title {
              padding-left: 10px;
              // display: inline-block;
              width: 120px;
              float: left;
              // @include c_1b_b;
              @include c_1;
              
            }

            .wav {
              display: inline-block;
              // padding-left: 10px;
              width: 46px;
              text-align: center;
              margin: 0px;
              float: left;
              @include c_1c_b;
              @include c_1b;            
            }

            .inactive {
              display: inline-block;
              // padding-left: 10px;
              width: 46px;
              text-align: center;
              margin: 0px;
              float: left;
              background: rgba(255,255,255,0.1);
              @include c_g_1;            
              cursor: auto;
            }        
          }
          
        }

      
      }



    }    

    #openRemix:hover {

      // background: url("/assets/tapedeck/remix_icon_on.png") no-repeat top right;
      @include c_g_5_b;
      background: url("/assets/tapedeck/remix_top_bg.gif");
      .m_button {
        color: $c1;
      
      }
      .icon {

        background: url("/assets/tapedeck/remix_icon_on.png") no-repeat center center;


        
      
      }
    }
    #openRemix {
      display: inline-block;
      position: absolute;
      cursor: pointer;
      //float: right;

      //position: relative;
      height: 40px;
      width: 150px;
      //@include c_g_4_b;
      z-index: 6000;
      // background: url("/assets/tapedeck/remix_icon.png") no-repeat top right;
      background: url("/assets/home/button_bg.gif");
      @include fh_b(12px);
      @include c_1_b;
      @include c_g_5;
      @include round(5px);
      line-height: 40px;

      margin-left: 162px;

      .icon {
        width: 40px;
        height: 40px;
        background: url("/assets/tapedeck/remix_icon.png") no-repeat center center;
        float: right;

        
      
      }
      .m_button {
        color: white; 
        //background: url("/assets/home/button_bg.gif");
        width: 50px; 
      }


    }


    #add_track {
      cursor: pointer;
      display: inline-block;
      position: absolute;
      //float: right;

      //position: relative;
      height: 40px;
      width: 135px;
      //@include c_g_4_b;
      z-index: 6000;
      @include fh_b(12px);
      @include c_g_5;
      @include round(3px);
      line-height: 40px;

      margin-left: 162px;


    }
    #add_track:hover {
      cursor: pointer;
      
      height: 80px;

      #from_file {
        visibility: visible;
      }
      #from_lib {
        visibility: visible;
      }
      #add_btn {
        display: none;
      }   
    }
    #add_btn {
      background: url("/assets/tapedeck/btn_add_off.png") no-repeat right;
      
      @include round(3px);
      @include c_g_4_b;
    }   

    #down_btn {
      background: url("/assets/tapedeck/btn_download_off.png") no-repeat right;
      
      @include round(3px);
      @include c_g_4_b;
    }   
    #from_lib:hover {
      @include c_g_4;
      background: url("/assets/tapedeck/btn_lib_on.png") no-repeat right;
      background-color: #FFF;
      
    }
    #from_file:hover {
      cursor: pointer;
      background: url("/assets/tapedeck/btn_file_on.png") no-repeat right;
      background-color: #FFF; 
      text-align: left;
      
      .from_file {
        @include c_g_4;
        text-align: left;

      
      }
    }

    #from_lib {
      cursor: pointer;
      float: left;

      background: #0000FF;
      height: 40px;
      width: 134px;
      visibility: hidden;
      z-index: 6000;
      background: url("/assets/tapedeck/btn_lib_off.png") no-repeat right;
      @include round_bottom(3px);
      @include c_g_4_b;


    }
    #tape_uploader_button {
    
      cursor: pointer !important;
    
    }
    #from_file {
      margin-top: 0px;
      visibility: hidden;
      z-index: 6000;
      padding: 0px;
      margin: 0px;
      margin-left: 5px;
      width: 148px;
      //text-align: left;
      float: left;
      background: url("/assets/tapedeck/btn_file_off.png") no-repeat right;
      @include c_g_4_b;
      cursor: pointer !important;

      @include round_top(3px);

    
    }
    .track_btn.from_file { 
      text-align: left;
    }
    .from_file { 

      height: 40px;
      width: 265px;
      display: hidden;
      @include round(3px);
      border: none;
      margin: 0px;
      padding: 0px;
      margin-top: -12px;
      padding-left: 14px;
      //@include c_g_4_b;
      z-index: 6000;
      @include fh_b(12px);
      line-height: 40px;
      @include c_g_5;
      text-align: left;
      background: none;
      cursor: pointer !important;


    }


    
  } 

#tapedeck_header {

  height: 100px;
  padding-top: 30px;
  background: url("/assets/tapedeck/header_bg.png") no-repeat bottom center;
  margin-bottom: 20px;
  
  #tapedeck_info {
    width: 500px;
    display: inline-block;
    #tapedeck_remix {
      margin-top: 8px;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background: url("/assets/tapes/remix_off.png") no-repeat top left;
      position: absolute;
    }
    #tapedeck_image_cover {
      width: 90px;
      height: 100px;
      background: url("/assets/tapedeck/tape_cover_mini.png");
      position: absolute;
    }


    #tapedeck_image {
      width: 82px;
      height: 80px;
      display: inline-block;
      float: left;
      margin-right: 20px;

        

      img{
        width: 84px;
        height: 77px;
        margin-top: 5px;
        margin-left: 3px;
      
      }
    } 
    #tapedeck_cover {
    }
    #tapedeck_meta {
      //margin-top: 10px;
      padding-top: 10px;
      margin-left: -20px;
      h1 {
        margin: 0px;
        padding: 0px;
        @include fh_b(18px);
        @include c_g_4;
        margin-bottom: 4px;
        @include ts_in(#FFF);
      }


      
      h2 {
        margin: 0px;
        padding: 0px;
        @include fh(14px);
        @include c_g_2;
        margin-bottom: 0px;
      }

      

      #tags { 
        position: absolute;

        margin: 0px;
        margin-left: 59px;
        margin-top: -12px;
        .tags_field {
          width: 860px;
          border: none;
          background: none;

        }

        



      } 
    } 

  }

}

#tapedeck_tape {
  //padding-top: 20px;

    #tape_scrabber {
      height: 0px;
      width: 775px;
      margin-left: 150px;
      position: absolute;
      z-index: 1000;
      background: #FF00FF;
      
      #scrabber_position {

        z-index: 1000;
        width: 80px;
        height: 100%;
        background: url("/assets/tapedeck/indicator.png");
        margin-left: -42px;
        position: absolute;
        left: 0px;
      
      }

      #scrabber_pointer {
        position: absolute;
        height: 100%;
        width: 1px;
      
      
      }
      #scrabber_label {
        width: 50px;
        height: 25px;
        margin-top: -36px;
        margin-left: -25px;
        position: absolute;
        cursor: pointer; 
        text-align: center;
        @include c_g_4_b;
        @include c_g_5;
        @include fh_b(13px);
        @include round(3px);
        line-height: 25px;
        #scrabber_value{
        }
        #scrabber_snip{
          height: 10px;
          //background: #FF00FF;
          background: url("/assets/tapedeck/scrabber_snip.png") no-repeat center;
          margin-top: -1px;
          width: 100%;
        }
        
      }
    }


}
.remix_box.active {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
  opacity: 1;
  visibility: visible;
  
  

}

.remix_box {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: 0.2s all ease-out;
	-moz-transition: 0.2s all ease-out;
	-ms-transition: 0.2s all ease-out;
	-o-transition: 0.2s all ease-out;
	transition: 0.2s all ease-out;  
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 290px;
  // min-height: 220px; 
  background: $c_g_5 url("/assets/tapedeck/remix_top_bg.gif") repeat-x top;
  z-index: 20000;
  left: 50%;
  top: 50%;
  margin-left: -145px;
  margin-top: -150px;
  @include round(5px);
  @include bs_out_big(rgba(0,0,0,0.5));
  padding-top: 5px;
  padding-bottom: 15px;


  .remix_loading {
  
    padding-top: 25px;
    width: 100%;
    height: 160px; 
    background: url("/assets/tapedeck/copy_tape.gif") no-repeat center center;
  }
  .remix_buttons {
    
    margin-top: 10px;
    width: 285px;

    .remix_button {
      display: inline-block;
      background: rgba(0,0,0,0.1);
      width: 130px;
      height: 35px;
      @include round(5px);
      @include fh_b(13px);
      text-align: center;
      line-height: 35px;
      cursor: pointer;
    }
    .remix_button.agree:hover {
      
      color: $c1b;
    
    }
    .remix_button.deccline:hover {
      
      color: $c_g_4;
    
    }
    .remix_button.agree {
      background: url("/assets/home/button_bg.gif");
      color: white;
    }
    .remix_button.deccline {
      color: $c_g_3;
    }  
  }
  .headline {
    
    @include fh_b(12px);
    color: $c_g_4;
    margin-bottom: 10px;
    padding-top: 10px;
  
  }

  .remix_icon {
    width: 50px;
    height: 50px;
    background: url("/assets/tapedeck/remix_box_icon.png");
    float: left;
  }
  

  h2 {
    
    margin: 0px;
    padding: 0px;
    // margin-top: 10px;
    // margin-bottom: 20px;
    @include fh_b(18px);
    color: $c1;
    line-height: 50px;
    height: 50px;
    float: left;
  
  }
   .remix_info {

      @include fh_b(12px);
      color: $c1;
      clear: both;
      // height: 30px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 15px;
      width: 260px;
      line-height: 14px;
      a {
        
        color: $c_g_4;
        @include fh_b(11px);
        
      
      }
      a:hover {
        
        color: $c1;
        
      
      }
    }
  
  .licenses {
    clear: both;
    padding-left: 15px;



    .license_info {

        @include fh(11px);
        color: $c_g_3;
        clear: both;
        // height: 30px;
        padding-top: 10px;
        width: 260px;
        line-height: 14px;
        padding-bottom: 5px;
        a {
          
          color: $c_g_4;
          @include fh_b(11px);
          
        
        }
        a:hover {
          
          color: $c1;
          
        
        }
      }
      .license_icons {
        margin-left: -8px;
        .license.active {
          opacity: 0.7;

        }
        .license {
          width: 54px;
          height: 54px;
          background: red;
          float: left;
          opacity: 0.1;
        
        }
        .license.cc {
          
          background: url("/assets/tapes/cc_cc.png") no-repeat center center;
        
        }

        .license.by {
          
          background: url("/assets/tapes/cc_by.png") no-repeat center center;
        
        }
        .license.sa {
          
          background: url("/assets/tapes/cc_sa.png") no-repeat center center;
        
        }
        .license.nc {
          
          background: url("/assets/tapes/cc_nc.png") no-repeat center center;
        
        }

        .license.nd {
          
          background: url("/assets/tapes/cc_nd.png") no-repeat center center;
        
        }



    }
  }


}






  




