// Place all the styles related to the tapedeck controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "tools/colors";
@import "tools/fonts";
@import "tools/effects";

#tapedeck_timeline{
  height: 50px;
  width: 960px;
  background: url("/assets/tapedeck/top_shadow.png") no-repeat bottom;
  
  
  #time_stamp {
    background: none;
    width: 225px;
    height: 50px;
    position: absolute;
    @include c_g_2;
    @include fh_b(13px);
    line-height: 55px;
    .tracks_count_hightlight {
      @include c_g_3;
    
    }

  }
  #time_zone {
    width: 735px;
    height: 50px;
    clear: both;
    background: none;
    margin-left: 225px;
    position: absolute;

  }
}
  #tapedeck_controlls { 
    //background: #FF00FF;
    height: 40px;
    margin-bottom: 0px;
    width: 94px;
    float: left;
    display: inline-block;
    .c_button {
      width: 42px;
      height: 40px;
      display: inline-block;
      //background: #00FF00;
      float: left;
      margin-right: 5px;
      @include round(5px);
      @include c_g_4_b;
    
    }
    .c_button:hover {
    
      background: none;
      @include border(3px, #7c7c7c);
      width: 36px;
      height: 34px;
      cursor: pointer;
    }

    #pause {
      display: none; 
      background-image: url("/assets/header/icon_pause_on.png");

    }
    #play {
      //display: none; 
      background-image: url("/assets/header/icon_play_on.png");

    }
    #play:hover {
      //display: none; 
      background-image: url("/assets/header/icon_play_off.png");

    }

    

    #stop {
      background-image: url("/assets/header/icon_stop_on.png");

    }
    
    
    #resume {
      display: none;
      background-image: url("/assets/header/icon_play_on.png");
    }
  }
  #tape_select.open {
    @include round_top_left(5px);
    //@include round_top_left(5);

     #tape_select_button {
     
      background: url("/assets/header/icon_close.png") no-repeat;
      @include c_g_3_b;
     }

    .tapes_versions#tapedeck_current_version  {
      
      @include round(0);
      background: #FFFF00;
    
    }

  }
  #tape_edit {
    @include round_left(5px);
    //margin-top: 20px;
    position: relative;
    display: inline-block;
    //float: left;
    //right: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 320px;
    //background: #000;
    
    background: url("/assets/header/list_tile.png") no-repeat;
    
    @include c_g_3_b;
    
    color: #000;
    z-index: 10000;
    //width: 380px;
    left: 0px;  
    #tape_save_button {
      position: absolute;
      display: inline-block;
      margin-left: 320px;
      height: 40px;
      width: 40px;
      background: url("/assets/header/icon_open.png") no-repeat;    
      @include round_right(5px);
      @include c_g_3_b;
    }  
  }

  #tape_edit_modul {
    @include round_left(5px);
    //margin-top: 20px;
    position: relative;
    display: none;
    //float: left;
    //right: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 320px;
    //background: #000;
    
    background: url("/assets/header/list_tile.png") no-repeat;
    
    @include c_g_3_b;
    
    color: #000;
    z-index: 10000;
    //width: 380px;
    left: 0px;
    
    #tape_save_button {
      position: absolute;
      display: inline-block;
      margin-left: 320px;
      height: 40px;
      width: 40px;
      //background: url("/assets/header/icon_open.png") no-repeat;    
      @include round_right(5px);
      @include c_g_3_b;
      cursor: pointer;
    }
  
  
  }

  #tape_select{
    @include round_left(5px);
    //margin-top: 20px;
    position: relative;
    display: inline-block;
    //float: left;
    //right: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 320px;
    //background: #000;
    
    background: url("/assets/header/list_tile.png") no-repeat;
    
    @include c_g_3_b;
    
    color: #000;
    z-index: 10000;
    //width: 380px;
    left: 0px;
    
    #tape_select_button {
      position: absolute;
      display: inline-block;
      margin-left: 320px;
      height: 40px;
      width: 40px;
      background: url("/assets/header/icon_open.png") no-repeat;    
      @include round_right(5px);
      @include c_g_3_b;
    }
    #tape_edit_modul {
      display: none;

    
    }

    .tapes_versions {
      //background: #FFF;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      width: 320px;
      @include c_g_4_b;

    
    }
    

    .tapes_versions#tapedeck_current_version {

      display: inline-block;
      height: 40px;
      color: #000;
      @include round_left(5px);
      //@include c_g_4_b;
      //width: 300px;
    }
    .tapes_versions#tapedeck_versions {
      //width: 300px;
    

    }
    #version_list {
      position: absolute;
      //top: 20px;
      background: #4a4a4a;
      @include round_left(5px);
    
    }
  }

  #tape_menu {
    //background: #FF00FF;
    z-index: 2000;

    height: 40px;
    margin-bottom: 20px;
    width: 500px;  
    float: right;
    display: inline-block;

    .m_button {
      width: 150px;
      height: 40px;
      display: inline-block;
      float: right;
      margin-left: 5px;
      //@include round(5px);
      //@include c_g_4_b;
      z-index: 6000;
      padding-left: 14px

    }

    #add_track {
      display: inline-block;
      float: right;

      position: relative;
      height: 40px;
      width: 150px;
      //@include c_g_4_b;
      z-index: 6000;
      @include fh_b(12px);
      @include c_g_5;
      @include round(5px);
      line-height: 40px;



    }
    #add_track:hover {
      cursor: pointer;
      
      height: 80px;

      #from_file {
        visibility: visible;
      }
      #from_lib {
        visibility: visible;
      }
      #add_btn {
        display: none;
      }   
    }
    #add_btn {
      background: url("/assets/tapedeck/btn_add_off.png") no-repeat right;
      
      @include round(5px);
      @include c_g_4_b;
    }   
    #from_lib:hover {
      @include c_g_4;
      background: url("/assets/tapedeck/btn_lib_on.png") no-repeat right;
      background-color: #FFF;
      
    }
    #from_file:hover {
      cursor: pointer;
      background: url("/assets/tapedeck/btn_file_on.png") no-repeat right;
      background-color: #FFF;

      
      .from_file {
        @include c_g_4;

      
      }
    }

    #from_lib {
      cursor: pointer;

      background: #0000FF;
      height: 40px;
      width: 150px;
      visibility: hidden;
      z-index: 6000;
      background: url("/assets/tapedeck/btn_lib_off.png") no-repeat right;
      @include round_bottom(5px);
      @include c_g_4_b;


    }
    #from_file {
      margin-top: 0px;
      visibility: hidden;
      z-index: 6000;
      padding: 0px;
      margin: 0px;
      float: left;
      margin-left: -14px;
      width: 164px;
      background: url("/assets/tapedeck/btn_file_off.png") no-repeat right;
      @include c_g_4_b;

      @include round_top(5px);

    
    }
    .from_file { 
      height: 40px;
      width: 150px;
      display: hidden;
      @include round(5px);
      border: none;
      margin: 0px;
      padding: 0px;
      margin-top: -12px;
      padding-left: 14px;
      //margin-left: -14px;
      //@include c_g_4_b;
      z-index: 6000;
      @include fh_b(12px);
      line-height: 40px;
      @include c_g_5;
      text-align: left;
      background: none;

    }


    
  } 

#tapedeck_header {

  height: 100px;
  padding-top: 20px;
  background: url("/assets/tapedeck/header_bg.png") no-repeat bottom center;
  margin-bottom: 20px;
  
  #tapedeck_info {
    width: 500px;
    display: inline-block;
    #tapedeck_image {
      width: 80px;
      height: 80px;
      display: inline-block;
      float: left;
      margin-right: 20px;
      @include c_g_5_b;
    } 
    #tapedeck_meta {
      //margin-top: 10px;
      padding-top: 18px;
      h2 {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        @include fh_b(20px);
        @include c_g_2;
        margin-bottom: 6px;
      }
      #meta { 
        @include fh(11px);
        @include c_g_2;

      } 
    } 

  }

}

#tapedeck_tape {
  //padding-top: 20px;

    #tape_scrabber {
      height: 0px;
      width: 700px;
      margin-left: 225px;
      position: absolute;
      z-index: 1000;
      
      #scrabber_position {

        z-index: 1000;
        width: 80px;
        height: 100%;
        background: url("/assets/tapedeck/indicator.png");
        margin-left: -42px;
        position: absolute;
        left: 0px;
      
      }

      #scrabber_pointer {
        position: absolute;
        height: 100%;
        width: 1px;
      
      
      }
      #scrabber_hotspot {
        opacity: 0;
        background: #FF0000;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer; 
      }
      #scrabber_label {
        width: 50px;
        height: 25px;
        margin-top: -36px;
        margin-left: -25px;
        position: absolute;
        cursor: pointer; 
        text-align: center;
        @include c_g_4_b;
        @include c_g_5;
        @include fh_b(13px);
        @include round(5px);
        line-height: 25px;
      }
    }


}





  




