// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "tools/fonts";
@import "tools/colors";
@import "tools/effects";
        
.comment_login_or {
  text-align: center;
  @include fh_b(14px);
  padding: 10px;
  .login_buttons {
    
    // width: 100px;

    .login_button {
      display: inline-block;
      background: rgba(0,0,0,0.1);
      width: 95px;
      height: 30px;
      @include round(5px);
      @include fh_b(11px);
      text-align: center;
      line-height: 30px;
      cursor: pointer;
    }
    .login_button.agree:hover {
      
      color: $c1b;
    
    }
    .login_button.deccline:hover {
      
      color: $c_g_4;
    
    }
    .login_button.agree {
      background: url("/assets/home/button_bg.gif");
      color: white;
    }
    .login_button.deccline {
      color: $c_g_3;
    }  
  }  

}

  .from_file {
    text-align: left;
    color: green;
    width: 500px;
    cursor: pointer;
  }  

  #tape_edge.edge_1 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_1.png");
  }
  #tape_edge.edge_2 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_2.png");
  }
  #tape_edge.edge_3 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_3.png");
  }
  #tape_edge.edge_4 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_4.png");
  }
  #tape_edge.edge_5 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_5.png");
  }
  #tape_edge.edge_6 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_6.png");
  }
  #tape_edge.edge_7 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_7.png");
  }
  #tape_edge.edge_8 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_8.png");
  }


  #tape_tracks {
    @include none_select();
    padding: 0px;
    margin: 0px;    
    clear: both;
    #tape_timeline {
     height: 30px;
     background: #f5f5f5;
    
    }

    .track:first-child {
      @include round_top(10px);
      .track_info {
        @include round_top_left(10px);
      
      }
      .track_clip_box {
        @include round_top(10px);
      
      }

    }

    .track:last-child {
      @include round_bottom(10px);
      
      .track_info {
        @include round_bottom_left_soft(10px);
      
      }

      .track_clip_box {
        @include round_bottom(10px);
      
      }

    }

    .track .track_info.c1 {
      @include c_1_b;
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c1b);
              @include c_1_b;
            }
            .sub { 
             color: $c1b; 
            }
          }
        }
    }


   .track .track_clip_box.c1 {



      @include c_1_b;
      .track_loaded {
        @include c_1b_b; 
      }
      .track_base {
        @include c_1c_b;
      }

      .track_processing {
        background: url("/assets/tapedeck/processing_bg_1.gif"); 
      }
    }

    .track .track_info.c2 {
      @include c_2_b;
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c2b);
              @include c_2_b;
            }
            .sub { 
             color: $c2b; 
            }
          }
        }
    }




   .track .track_clip_box.c2 {



      @include c_2_b;
      .track_loaded {
        @include c_2b_b; 
      }
      .track_base {
        @include c_2c_b;
      }
      
      .track_processing {
        background: url("/assets/tapedeck/processing_bg_2.gif"); 
      }
    }

    .track .track_info.c3 {
      @include c_3_b;
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c3b);
              @include c_3_b;
            }
            .sub { 
             color: $c3b; 
            }
          }
        }
    }
   .track .track_clip_box.c3 {
      @include c_3_b;
      .track_loaded {
        @include c_3b_b; 
      }
      .track_base {
        @include c_3c_b;
      }
      .track_processing {
        background: url("/assets/tapedeck/processing_bg_3.gif"); 
      }

    }

  .track .track_info.c4 { @include c_4_b; 
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c4b);
              @include c_4_b;
            }
            .sub { 
             color: $c4b; 
            }
          }
        }  
  
  }
  .track .track_clip_box.c4 {
    @include c_4_b;
    .track_loaded {
      @include c_4b_b; 
    }
    .track_base {
      @include c_4c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_4.gif"); 
    }

  }

  .track .track_info.c5 { @include c_5_b; 
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c5b);
              @include c_5_b;
            }
            .sub { 
             color: $c5b; 
            }
          }
        }
  
  }
  .track .track_clip_box.c5 {
    @include c_5_b;
    .track_loaded {
      @include c_5b_b; 
    }
    .track_base {
      @include c_5c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_5.gif"); 
    }

  }

  .track .track_info.c6 { @include c_6_b; 

      .control_set {
          .title_set {
            .title { 
              @include ts_in($c6b);
              @include c_6_b;
            }
            .sub { 
             color: $c6b; 
            }
          }
        }

  }
  .track .track_clip_box.c6 {
    @include c_6_b;
    .track_loaded {
      @include c_6b_b; 
    }
    .track_base {
      @include c_6c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_6.gif"); 
    }

  }
  .track .track_info.c7 { @include c_7_b; 

        .control_set {
          .title_set {
            .title { 
              @include ts_in($c7b);
              @include c_7_b;
            }
            .sub { 
             color: $c7b; 
            }
          }
        }


  }
  .track .track_clip_box.c7 {
    @include c_7_b;
    .track_loaded {
      @include c_7b_b; 
    }
    .track_base {
      @include c_7c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_7.gif"); 
    }

  }
  .track .track_info.c8 { @include c_8_b; 
  

        .control_set {
          .title_set {
            .title { 
              @include ts_in($c8b);
              @include c_8_b;
            }
            .sub { 
             color: $c8b; 
            }
          }
        }
  
  }
  .track .track_clip_box.c8 {
    @include c_8_b;
    .track_loaded {
      @include c_8b_b; 
    }
    .track_base {
      @include c_8c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_8.gif"); 
    }

  }
    .track:hover {

      .add_track_to_track {

        .track_btn#add_track { display: none;}
        .track_btn#from_remove { visibility: visible;}
        .track_btn#from_library { visibility: visible;}
        .track_btn.from_file { visibility: visible;}
        .uploadify { visibility: visible;}
        //background: rgba(0,0,0,0.05);


      }
        .track_comments {
          background: url("/assets/tapedeck/bottom_shadow_dark.png") no-repeat bottom;
          background-color: rgba(0,0,0,0);

        
        }


    }
    .track {
        height: 85px;
        background: #969696;
        list-style-type: none;
        color: white;    
        cursor: pointer;


      .track_info {
        z-index: 6000; 
        height: 85px;
        width: 160px;
        display: inline-block;
        //background: #FF00FF;
        float: left; 
        .user_image {
          width: 90px;
          height: 85px;
          background: rgba(255,255,255,0.2);
          display: inline-block;
          float: left;
        
        }
        .control_set {
          width: 140px;
          height: 85px;
          padding-left: 5px;
          //background: rgba(255,255,255,0.1);
          display: inline-block;
          @include fh_b(12px);
          float: left;
          .title_set {
            height: 35px;
            .title {
              margin-top: 5px;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 10px; 
              @include fh_b(12px);
              color: #FFF;
              background: #000;
              position: absolute;
              z-index: 9200;
              @include round(5px);
              .name {
                display: inline;
              
              
              }
              .name_edit_field {
                display: none;
                background: none;
                position: absolute;
                width: 105px;
                @include fh_b(12px);
                @include ts_in(rgba(0,0,0,0.2));
                padding: 0px;
                border: none;
                outline: none;
                color: white;
              }
              .name_save_button:hover {
                background-color: rgba(0,0,0,0.2);

              }
              .name_save_button {
                display: none;
                position: absolute;
                width: 20px;
                height: 20px;
                background: rgba(0,0,0,0.1);
                margin-left: 111px;
                margin-top: -5px;
                @include round(3px);
                background: rgba(0,0,0,0.08) url("/assets/tapedeck/edit_text_done.png") no-repeat center center;

              }

            }
            .sub {
              margin-top: 26px;
              padding-left: 10px; 
              @include c_g_3;
              @include fh(11px); 
              position: absolute;
              
            }
          
          }
          .controller {
            //background: #FF00FF;
            width: 145px;
            height: 30px;
            padding-left: 10px;
            padding-top: 10px;
            z-index: 9100;
            .element {
            
              z-index: 9200;
            
            }


            .element.active {
              
              background: rgba(255,255,255,0.4);
              color: rgba(0,0,0,0.3);
              
            
            }
            .element.active:hover {
              
              background: rgba(255,255,255,1);
              color: rgba(0,0,0,1);
            
            }

            .element.active.mute:hover {
              color: rgba(0,0,0,0.5);
              opacity: 1;
              background: url("/assets/track/mute_icon_on.png");
              background-color: rgba(255,255,255,1);

            }
            .element.mute:hover {
              color: rgba(255,255,255,.5);
              background: url("/assets/track/mute_icon_off.png");
              background-color: rgba(0,0,0,1);
              opacity: 0.3;

            }
            .element.active.solo:hover {
              background: rgba(255,255,255,1);
              color: rgba(0,0,0,0.5);

            }
            .element.solo.active {
              @include round_right(24px);
              padding-right: 4px;
              margin-right: 4px;
              color: rgba(0,0,0,0.3);
            }

            .element.solo {
              @include round_right(24px);
              padding-right: 4px;
              margin-right: 4px;
              color: rgba(255,255,255,0.3);
            }



            .element.mute {
              @include round_left(24px);
              padding-left: 4px;
              color: rgba(0,0,0,0.3);
            }


            .element.solo:hover {
              background: rgba(0,0,0,0.3);
              color: rgba(255,255,255,0.3);

            }
            .element.color:hover {
              background: url("/assets/tapedeck/color_icon_on.png") no-repeat center center;
              .color_ring {
                visibility: visible;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);              
                transform:rotate(0deg);
                -ms-transform:rotate(0deg); /* IE 9 */
                -moz-transform:rotate(0deg); /* Firefox */
                -webkit-transform:rotate(0deg); /* Safari and Chrome */
                -o-transform:rotate(0deg); /* Opera */   
                opacity: 1;
              }
            }
            .element.color {
              position: absolute;
              @include round(24px);
              color: rgba(255,255,255,0.3);
              width: 29px;
              height: 29px;
              background: white;
              margin-top: 1px;
              margin-left: 72px;
              background: url("/assets/tapedeck/color_icon_off.png") no-repeat center center;

              .color_ring {
                position: absolute;
                visibility: hidden;
                width: 68px;
                height: 68px;
                margin-left: -20px;
                margin-top: -20px;
                // background: $c_g_0;
                @include c_g_0_b; 
                @include round(68px);
                background: url("/assets/tapedeck/color_ring_bg.png");
                -webkit-transition: 0.2s all ease-out;
                -moz-transition: 0.2s all ease-out;
                -ms-transition: 0.2s all ease-out;
                -o-transition: 0.2s all ease-out;
                transition: 0.2s all ease-out;
                
                -webkit-transform: scale(0.1);
                -moz-transform: scale(0.1);
                -ms-transform: scale(0.1);
                -o-transform: scale(0.1);
                transform: scale(0.1);

                transform:rotate(-40deg);
                -ms-transform:rotate(-40deg); /* IE 9 */
                -moz-transform:rotate(-40deg); /* Firefox */
                -webkit-transform:rotate(-40deg); /* Safari and Chrome */
                -o-transform:rotate(-40deg); /* Opera */    
                opacity: 0;

                .color_field:hover {

                  opacity: 0.6;

                }
                .field_1 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c1;
                  @include round(13px);

                  margin-top: 4px;
                  margin-left: 28px;
                
                }
                .field_2 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c2;
                  @include round(13px);

                  margin-left: 44px;
                  margin-top: 11px;
                
                }
                .field_3 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c3;
                  @include round(13px);

                  margin-left: 51px;
                  margin-top: 28px;                
                }
                .field_4 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c4;
                  @include round(13px);

                  margin-left: 44px;
                  margin-top: 44px;
                
                }
                .field_5 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c5;
                  @include round(13px);

                  margin-left: 28px;
                  margin-top: 51px;
                
                }
                .field_6 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c6;
                  @include round(13px);

                  margin-left: 12px;
                  margin-top: 44px;
                
                }
                .field_7 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c7;
                  @include round(13px);

                  margin-left: 4px;
                  margin-top: 28px;
                
                }

                 .field_8 {
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  background: $c8;
                  @include round(13px);

                  margin-left: 11px;
                  margin-top: 11px;
                
                }
 
              }
            }



            .element {
              float: left;
              width: 11px;
              height: 28px;
              background: rgba(0,0,0,0.1);
              cursor: pointer;
              //border: solid;
              //border-width: 3px;
              //border-color: rgba(0,0,0,0.1);

              //margin-top: 10px;
              margin-left: 0px;
              margin-right: 0px;
              display: inline-block;
              @include fh_b(11px);
              color: rgba(0,0,0,0.1);
              line-height: 30px;
              text-align: center;
              z-index: 9500;
            
            }





            .volume.moving {
              opacity: 1;
              background: url("/assets/track/vol_icon_on.png") no-repeat center;
            }
            .volume:hover {
              opacity: 1;
              background: url("/assets/track/vol_icon_on.png") no-repeat center;
            }
            .volume {
              opacity: 0.4;
              @include round(24px);
              width: 30px;
              height: 30px;
              margin-left: 35px;
              background: url("/assets/track/vol_icon_off.png") no-repeat center;
              cursor: pointer;

              //margin-top: 10px;
              //margin-left: 0px;
              //margin-right: 0px;
              //display: inline-block;
              position: absolute;
              //margin-left: -13px;
              @include fh_b(13px);
              color: rgba(0,0,0,0.1);

            
            }











            .pan.moving {
              opacity: 1;
              background: url("/assets/track/pan_icon_on.png") no-repeat center;
            }
            .pan:hover {
              opacity: 1;
              background: url("/assets/track/pan_icon_on.png") no-repeat center;
            }
            .pan {
              opacity: 0.3;
              @include round(24px);
              width: 30px;
              height: 30px;
              background: url("/assets/track/pan_icon_off.png") no-repeat center;
              cursor: pointer;

              //margin-top: 10px;
              //margin-left: 0px;
              //margin-right: 0px;
              //display: inline-block;
              position: absolute;
              //margin-left: -13px;
              @include fh_b(13px);
              color: rgba(0,0,0,0.1);

            
            }

          }
        
        }        
      }

      .add_track_to_track {
        width: 35px;
        height: 85px;
        position: absolute;
        margin-left: 925px;
        background: rgba(255,255,255,0.08);

        .track_btn {
          background: #FF00FF;
          width: 35px;
          height: 28px;
          margin: 0px;
          padding: 0px;
        
        }

        .track_btn:hover {
          background-color: rgba(255,255,255,0.2);
        }

        .track_btn.add_track {
          position: absolute;
          margin-top: 28px; 
          background: url("/assets/track/add_track_icon.png")

        }

        .track_btn.from_remove:hover {
          background: url("/assets/track/remove_icon_on.png");
          background-color: rgba(0,0,0,0.1);
        }
        .track_btn.from_remove {
          @include round_top_right(10px);
          visibility: hidden;
          cursor: pointer;
          background: url("/assets/track/remove_icon_off.png")
        }
        .uploadifive:hover{
          background: green;
          background-color: rgba(0,0,0,0.1);
          //background: url("/assets/track/from_file_icon_on.png");
        }
        .uploadifive{
          background: green;
          background-color: rgba(0,0,0,0.1);
          visibility: hidden;
          //background: url("/assets/track/from_file_icon_off.png");
        }

        .track_btn.from_file:hover {
          background: url("/assets/track/from_file_icon_on.png");
          background-color: rgba(0,0,0,0.1);
        }
        .track_btn.from_file {
          visibility: hidden;
          cursor: pointer;
          top: 0px;
          background: url("/assets/track/from_file_icon_off.png");
          margin: 0px;
          padding: 0px;
        }
        .track_btn.from_library:hover {
          background: url("/assets/track/from_library_icon_on.png");
          background-color: rgba(0,0,0,0.1);

        }
        .track_btn.from_library {
          //@include round_bottom_right(10px);
          visibility: hidden;
          cursor: pointer;
          background: url("/assets/track/from_library_icon_off.png")
        
        }
      
      } 

      .track_clip {
        position: absolute;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      }
       .track_dotted {
        position: absolute;
        height: 85px;
        width: 765px;
        //display: inline-block;

        background: none;
        background-image: url("/assets/track/track_line.png");
        background-repeat: repeat-x;
        //float: left; 
      
      }     
      .track_base {
        position: absolute;
        background: #64c0a1;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_position {

        width: 80px;
        height: 85px;
        background: url("/assets/tapedeck/indicator.png");
        margin-left: -42px;
        position: absolute;

      
      }
      .track_hotspot {
        position: absolute;
        height: 85px;
        width: 765px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_comments:hover {
      
        .strip {
          #marker{ 
            display: inline;
          }

        }
      }


      .track_comments {
        margin: 0px;
        padding: 0px;
        position: absolute;
        margin-top: 60px;
        height: 25px;
        width: 765px;
        background: #000;
        opacity: 1;
        list-style-type: none;
        //display: inline-block;
        
        background-color: rgba(0,0,0,0);

          .comment_field {
              background: #FF00FF;
            
            }


        .comment{
          background: url("/assets/track/user_icon.png");
          //background-color: rgba(0,0,0,0.05);
          height: 25px;
          width: 25px;
          position: absolute;
          .image {
            width: 25px;
            height: 25px; 
            position: absolute;
          }
          //min-height: 50px;
          //@include round(40px);

          .track_comments_box {
            z-index: 11000;
          
            padding: 0px;
            margin: 0px;
            @include fh(12px);

            padding: 10px;
            line-height: 15px;
            padding-bottom: 0px;
            padding-top: 0px;

            color: white;
            list-style-type: none;
            .comment_set:last-child {
            
              border-bottom-style: none;
            }

            .comment_set:hover {
              .date {
                opacity: 1;
              }
              .user_name {
                opacity: 1;
              }
            }
            .comment_set {
              padding: 0px;
              margin: 0px;
              margin-bottom: 0px;
              padding-bottom: 5px;
              padding-top: 5px;
              padding-left: 5px;
              border-color: rgba(0,0,0,0.05);
              border-bottom-width: 1px;
              border-bottom-style: solid;
              .comment_body {
                @include fh(12px);
                margin-top: 10px; 
                @include c_g_5;
                line-height: 17px;
                
              
              }
              .date {
                opacity: 0.5;
                @include fh(11px);
                @include round(2px);
                margin-top: 10px; 
                @include c_g_2;
                line-height: 17px;
                margin-left: 7px;
                
              
              }
              .user_name {
                opacity: 0.5;
                @include c_g_4_b;
                @include fh_b(12px);
                padding: 3px 5px;
                @include round(5px);
                margin-left: -5px;
                line-height: 30px;
                color: $c_g_2
                      
              
              }


            }

            

          }

        
        }
      .comment_strip {
        list-style-type: none; 
        padding: 0px;
        margin: 0px;
        width: 765px;
        height: 25px;
      }
      .strip {
        list-style-type: none; 
        padding: 0px;
        margin: 0px;
        width: 765px;
        height: 25px;
        position: absolute;

        #marker{
          display: none;
          height: 25px;
          width: 25px;
          position: absolute;
          background: url("/assets/tapedeck/add_comment_btn.png");
          //@include round(40px);
        
        }        
      }




      .comment {
      
        .commentbox2 {
          display: none;
          margin-top: -60px;
          margin-left: -98px;
        }
      }
      .comment:hover {
      
        .commentbox2 {
          display: inline;
        }
      }
      

        //float: left; 
      }
      
     .commentbox {
      
      //display: inline;
      margin-left: -110px;
      position: absolute;
      z-index: 18000;

        .body {
          position: absolute;
          width: 218px;
          min-height: 10px;
          bottom: -50px;
          @include round(3px);
          @include c_g_1_b;
          z-index: 8000;

          #comment_box {
          
            .comment_field:focus {
                background-color: white;
            }
            .comment_field {
                width: 125px;
                border-color: #e9e9e9;
                border-style: solid;
                border-width: 1px;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_5_b;
                background-color: $c_g_5;
                @include c_g_1;
                padding: 10px 10px;
                height: 12px;
                margin-left: 5px;
                margin-bottom: 5px;
                margin-top: 5px;
                padding-right: 70px;

              
              }
              .comment_label {
                width: 180px;
                border: none;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_2;
                padding: 10px 10px; 
                padding-left: 15px;
                padding-top: 16px;
              
              }          

              .send_track_button {
                  @include c_g_1_b;
                  color: white;
                  padding: 8px 12px;
                  display: inline-block;
                  @include round(3px);
                  @include fh_b(12px);
                  position: absolute;
                  margin-left: 160px; 
                  margin-top: 7px;
                  z-index: 6000;
                  cursor: pointer;
                  @include btn($c_g_2);
              }


          }
        
        
        }
        .snip {
          position: absolute;
          background: url("/assets/tapedeck/arrow_down.png") no-repeat center center;
          width: 220px;
          height: 10px;
          bottom: -60px;
        
        }
      }

      .commentbox2 {
      
      //display: inline;
      margin-left: -110px;
      position: absolute;
      z-index: 18000;

        .body {
          position: absolute;
          width: 218px;
          min-height: 10px;
          bottom: -50px;
          @include round(3px);
          @include c_g_1_b;
          z-index: 8000;

          #comment_box {
            .comment_field:focus {
                background-color: white;
                border-style: solid;
            }          
            .comment_field {
                width: 125px;
                border-color: rgba(0,0,0,0.05);
                border-style: solid;
                border-width: 1px;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_5_b;
                background-color: rgba(0,0,0,0.1);
                @include c_g_1;
                padding: 10px 10px;
                height: 12px;
                margin-left: 5px;
                margin-bottom: 5px;
                margin-top: 5px;
                padding-right: 70px;

              
              }
              .comment_label {
                width: 180px;
                border: none;
                outline: none;
                @include fh_b(12px);
                @include round(5px);
                @include c_g_2;
                padding: 10px 10px; 
                padding-left: 15px;
                padding-top: 16px;
              
              }          

              .send_track_button {
                  @include c_g_1_b;
                  color: white;
                  padding: 8px 12px;
                  display: inline-block;
                  @include round(3px);
                  @include fh_b(12px);
                  position: absolute;
                  margin-left: 160px; 
                  margin-top: 7px;
                  z-index: 6000;
                  cursor: pointer;
                  @include btn($c_g_2);
              }


          }
        
        
        }
        .snip {
          position: absolute;
          background: url("/assets/tapedeck/arrow_down.png") no-repeat center center;
          width: 220px;
          height: 10px;
          bottom: -60px;
        
        }
      }
      .track_loaded {
        position: absolute;
        background: #539f85;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_progress {
        position: absolute;
        background: #FFF;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_clip_box {
        height: 85px;
        width: 800px;
        //display: inline-block;
        float: left; 
      
      }

      .track_processing {
        position: absolute;
        //background: url("/assets/tapedeck/processing_bg_1.gif");
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_processing_info {
        position: absolute;
        //background: #FF00FF;
        height: 20px;
        width: 765px;

        margin-top: 30px;
        text-align: center;
        //width: px;
        //display: inline-block;
        //float: left; 

        .name_box {
          //padding: 2px 2px;
          display: inline-block;
          background: rgba(116,116,116,0.9);
          padding-right: 10px;
          //padding-left: 5px;
          //margin-right: auto;
          //margin-left: auto;
          @include round(20px);
          @include fh(12px);
          @include c_g_2;
          line-height: 24px;
          .file_name {
            @include fh_b(12px);
            @include c_g_5;
          
          }

          .icon {
            float: left;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background: url("/assets/tapedeck/processing_icon.gif");
            @include round_left(20px);
            background-color: rgba(0,0,0,0.2);
          
          }
        
        }
      
      }
 

    }
  
  }
