// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "tools/fonts";
@import "tools/colors";
@import "tools/effects";

  .from_file {
    text-align: left;
    color: green;
    width: 500px;
  }  

  #tape_edge.edge_1 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_1.png");
    z-index: 9000; 
  }
  #tape_edge.edge_2 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_2.png");
    z-index: 9000; 
  }
  #tape_edge.edge_3 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_3.png");
    z-index: 9000; 
  }
  #tape_edge.edge_4 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_4.png");
    z-index: 9000; 
  }
  #tape_edge.edge_5 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_5.png");
    z-index: 9000; 
  }
  #tape_edge.edge_6 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_6.png");
    z-index: 9000; 
  }
  #tape_edge.edge_7 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_7.png");
    z-index: 9000; 
  }
  #tape_edge.edge_8 {
  
    height: 6px;
    width: 960px;
    background: red;
    position: absolute;
    margin-top: -5px;
    background: url("/assets/track/edge_8.png");
    z-index: 9000; 
  }


  #tape_tracks {
    @include none_select();
    padding: 0px;
    margin: 0px;    
    clear: both;
    #tape_timeline {
     height: 30px;
     background: #f5f5f5;
    
    }
    .track:first-child {
      @include round_top(10px);
      .track_info {
        @include round_top_left(10px);
      
      }
      .track_clip_box {
        @include round_top(10px);
      
      }

    }

    .track:last-child {
      @include round_bottom(10px);
      
      .track_info {
        @include round_bottom_left_soft(10px);
      
      }

      .track_clip_box {
        @include round_bottom(10px);
      
      }

    }

    .track .track_info.c1 {
      @include c_1_b;
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c1b);
            }
            .sub { 
             color: $c1b; 
            }
          }
        }
    }
   .track .track_clip_box.c1 {

      @include c_1_b;
      .track_loaded {
        @include c_1b_b; 
      }
      .track_base {
        @include c_1c_b;
      }

      .track_processing {
        background: url("/assets/tapedeck/processing_bg_1.gif"); 
      }
    }

    .track .track_info.c2 {
      @include c_2_b;
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c2b);
            }
            .sub { 
             color: $c2b; 
            }
          }
        }
    }
   .track .track_clip_box.c2 {
      @include c_2_b;
      .track_loaded {
        @include c_2b_b; 
      }
      .track_base {
        @include c_2c_b;
      }
      
      .track_processing {
        background: url("/assets/tapedeck/processing_bg_2.gif"); 
      }
    }

    .track .track_info.c3 {
      @include c_3_b;
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c3b);
            }
            .sub { 
             color: $c3b; 
            }
          }
        }
    }
   .track .track_clip_box.c3 {
      @include c_3_b;
      .track_loaded {
        @include c_3b_b; 
      }
      .track_base {
        @include c_3c_b;
      }
      .track_processing {
        background: url("/assets/tapedeck/processing_bg_3.gif"); 
      }

    }

  .track .track_info.c4 { @include c_4_b; 
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c4b);
            }
            .sub { 
             color: $c4b; 
            }
          }
        }  
  
  }
  .track .track_clip_box.c4 {
    @include c_4_b;
    .track_loaded {
      @include c_4b_b; 
    }
    .track_base {
      @include c_4c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_4.gif"); 
    }

  }

  .track .track_info.c5 { @include c_5_b; 
        .control_set {
          .title_set {
            .title { 
              @include ts_in($c5b);
            }
            .sub { 
             color: $c5b; 
            }
          }
        }
  
  }
  .track .track_clip_box.c5 {
    @include c_5_b;
    .track_loaded {
      @include c_5b_b; 
    }
    .track_base {
      @include c_5c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_5.gif"); 
    }

  }

  .track .track_info.c6 { @include c_6_b; 

      .control_set {
          .title_set {
            .title { 
              @include ts_in($c6b);
            }
            .sub { 
             color: $c6b; 
            }
          }
        }

  }
  .track .track_clip_box.c6 {
    @include c_6_b;
    .track_loaded {
      @include c_6b_b; 
    }
    .track_base {
      @include c_6c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_6.gif"); 
    }

  }
  .track .track_info.c7 { @include c_7_b; 

        .control_set {
          .title_set {
            .title { 
              @include ts_in($c7b);
            }
            .sub { 
             color: $c7b; 
            }
          }
        }


  }
  .track .track_clip_box.c7 {
    @include c_7_b;
    .track_loaded {
      @include c_7b_b; 
    }
    .track_base {
      @include c_7c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_7.gif"); 
    }

  }
  .track .track_info.c8 { @include c_8_b; 
  

        .control_set {
          .title_set {
            .title { 
              @include ts_in($c8b);
            }
            .sub { 
             color: $c8b; 
            }
          }
        }
  
  }
  .track .track_clip_box.c8 {
    @include c_8_b;
    .track_loaded {
      @include c_8b_b; 
    }
    .track_base {
      @include c_8c_b;
    }
    .track_processing {
      background: url("/assets/tapedeck/processing_bg_8.gif"); 
    }

  }
    .track {
        height: 85px;
        background: #969696;
        list-style-type: none;
        color: white;    
      .track_info {
        z-index: 6000; 
        height: 85px;
        width: 225px;
        display: inline-block;
        //background: #FF00FF;
        float: left; 
        .user_image {
          width: 85px;
          height: 85px;
          background: rgba(255,255,255,0.2);
          display: inline-block;
          float: left;
        
        }
        .control_set {
          width: 140px;
          height: 85px;
          background: rgba(255,255,255,0.1);
          display: inline-block;
          @include fh_b(12px);
          float: left;
          .title_set {
            height: 35px;
            .title {
              padding-top: 10px;
              padding-left: 10px; 
              @include fh_b(12px);
              color: #FFF;
            }
            .sub {
              padding-top: 3px;
              padding-left: 10px; 
              @include c_g_3;
              @include fh(11px); 
              
            }
          
          }
          .controller {
            //background: #FF00FF;
            width: 225px;
            height: 50px;
            padding-left: 10px;
            padding-top: 10px;
            z-index: 9100;
            .element.t_1 {
            
            
            }


            .element.active {
              
              background: rgba(255,255,255,0.4);
              color: rgba(255,255,255,0.4);
              
            
            }
            .element.active:hover {
              
              background: rgba(255,255,255,1);
              color: rgba(255,255,255,1);
            
            }

            .element.active.mute:hover {
              color: rgba(255,255,255,0);
              opacity: 1;
              background: url("/assets/track/mute_icon_on.png");
              background-color: rgba(255,255,255,1);

            }
            .element.mute:hover {
              color: rgba(255,255,255,0);
              background: url("/assets/track/mute_icon_off.png");
              background-color: rgba(0,0,0,1);
              opacity: 0.3;

            }
            .element.active.solo:hover {
              background: rgba(255,255,255,1);
              color: rgba(255,255,255,1);

            }

            .element.solo {
              @include round_right(24px);
              padding-right: 4px;
              margin-right: 4px;
            }
            .element.mute {
              @include round_left(24px);
              padding-left: 4px;
            }


            .element.solo:hover {
              background: rgba(0,0,0,0.3);
              color: rgba(0,0,0,0.3);

            }
            .element {
              float: left;
              width: 18px;
              height: 28px;
              background: rgba(0,0,0,0.1);
              cursor: pointer;
              //border: solid;
              //border-width: 3px;
              //border-color: rgba(0,0,0,0.1);

              //margin-top: 10px;
              margin-left: 0px;
              margin-right: 0px;
              display: inline-block;
              @include fh_b(13px);
              color: rgba(0,0,0,0.1);

              line-height: 30px;
              text-align: center;
            
            }
            .pan:hover {
              opacity: 1;
              background: url("/assets/track/pan_icon_on.png") no-repeat center;
            }
            .pan {
              opacity: 0.5;
              @include round(24px);
              width: 60px;
              height: 30px;
              background: url("/assets/track/pan_icon_off.png") no-repeat center;
              cursor: pointer;

              //margin-top: 10px;
              //margin-left: 0px;
              //margin-right: 0px;
              //display: inline-block;
              position: absolute;
              margin-left: -13px;
              @include fh_b(13px);
              color: rgba(0,0,0,0.1);

            
            }
            .volume:hover {
                
              opacity: 1;
            }
            .volume {
              opacity: 0.5;
              z-index: 9000;
              @include round(24px);
              width: 14px;
              height: 66px;
              cursor: pointer;
              //background: rgba(255,255,255,0.3);

              //border-width: 3px;
              background-color: rgba(0,0,0,0.05);

              //margin-top: 10px;
              @include fh_b(13px);

              position: absolute;
              margin-top: -35px;
              margin-left: 102px;
              .inner {
                height: 66px;
                width: 14px;
                position: absolute;
                @include round(24px);
                bottom: 0px;
                background: #FFF;
              }
            
            }
          }
        
        }        
      }
      .add_track_to_track:hover {

        .track_btn#add_track { display: none;}
        .track_btn#from_remove { visibility: visible;}
        .track_btn#from_library { visibility: visible;}
        .track_btn.from_file { visibility: visible;}
        .uploadify { visibility: visible;}
        //background: rgba(0,0,0,0.05);


      }
      .add_track_to_track {
        width: 35px;
        height: 85px;
        position: absolute;
        margin-left: 925px;
        background: rgba(255,255,255,0.08);

        .track_btn {
          background: #FF00FF;
          width: 35px;
          height: 28px;
          margin: 0px;
          padding: 0px;
        
        }

        .track_btn:hover {
          background-color: rgba(255,255,255,0.2);
        }

        .track_btn.add_track {
          position: absolute;
          margin-top: 28px; 
          background: url("/assets/track/add_track_icon.png")

        }

        .track_btn.from_remove:hover {
          background: url("/assets/track/remove_icon_on.png");
          background-color: rgba(0,0,0,0.1);
        }
        .track_btn.from_remove {
          @include round_top_right(10px);
          visibility: hidden;
          cursor: pointer;
          background: url("/assets/track/remove_icon_off.png")
        }
        .uploadifive:hover{
          background: green;
          background-color: rgba(0,0,0,0.1);
          //background: url("/assets/track/from_file_icon_on.png");
        }
        .uploadifive{
          background: green;
          background-color: rgba(0,0,0,0.1);
          visibility: hidden;
          //background: url("/assets/track/from_file_icon_off.png");
        }

        .track_btn.from_file:hover {
          background: url("/assets/track/from_file_icon_on.png");
          background-color: rgba(0,0,0,0.1);
        }
        .track_btn.from_file {
          visibility: hidden;
          cursor: pointer;
          top: 0px;
          background: url("/assets/track/from_file_icon_off.png");
          margin: 0px;
          padding: 0px;
        }
        .track_btn.from_library:hover {
          background: url("/assets/track/from_library_icon_on.png");
          background-color: rgba(0,0,0,0.1);

        }
        .track_btn.from_library {
          //@include round_bottom_right(10px);
          visibility: hidden;
          cursor: pointer;
          background: url("/assets/track/from_library_icon_off.png")
        
        }
      
      } 

      .track_clip {
        position: absolute;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      }
      .track_base {
        position: absolute;
        background: #64c0a1;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_loaded {
        position: absolute;
        background: #539f85;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_progress {
        position: absolute;
        background: #FFF;
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_clip_box {
        height: 85px;
        width: 735px;
        //display: inline-block;
        float: left; 
      
      }

      .track_processing {
        position: absolute;
        //background: url("/assets/tapedeck/processing_bg_1.gif");
        height: 85px;
        width: 0px;
        //display: inline-block;
        //float: left; 
      
      }
      .track_processing_info {
        position: absolute;
        //background: #FF00FF;
        height: 20px;
        width: 700px;

        margin-top: 30px;
        text-align: center;
        //width: px;
        //display: inline-block;
        //float: left; 

        .name_box {
          //padding: 2px 2px;
          display: inline-block;
          background: rgba(116,116,116,0.9);
          padding-right: 10px;
          //padding-left: 5px;
          //margin-right: auto;
          //margin-left: auto;
          @include round(20px);
          @include fh(12px);
          @include c_g_2;
          line-height: 24px;
          .file_name {
            @include fh_b(12px);
            @include c_g_5;
          
          }

          .icon {
            float: left;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 5px;
            background: url("/assets/tapedeck/processing_icon.gif");
            @include round_left(20px);
            background-color: rgba(0,0,0,0.2);
          
          }
        
        }
      
      }
 

    }
  
  }
